# 데이터 결합

In [1]:
import pandas as pd
df = pd.read_csv('2021_2022_강남구전세실거래가.csv', usecols = ['시군구', '단지명', '전용면적(㎡)', '보증금(만원)','층','도로명','계약년월','계약기간','전월세구분','건축년도','구분'])
df

,시군구,전월세구분,계약년월,보증금(만원),건축년도,도로명,계약기간,구분,단지명,전용면적(㎡),층
0,서울특별시 강남구 개포동,월세,202204,500,1996.0,NaN,-,단독다가구,NaN,NaN,NaN
1,서울특별시 강남구 개포동,월세,202204,500,1996.0,논현로8길,202204~202404,단독다가구,NaN,NaN,NaN
2,서울특별시 강남구 개포동,월세,202208,500,1996.0,논현로8길,-,단독다가구,NaN,NaN,NaN
3,서울특별시 강남구 개포동,월세,202212,"1,000",1990.0,개포로15길,202212~202308,단독다가구,NaN,NaN,NaN
4,서울특별시 강남구 개포동,월세,202204,500,1992.0,개포로17길,202204~202304,단독다가구,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
77820,서울특별시 강남구 청담동,전세,202210,"64,000",2019.0,영동대로 740,202211~202411,오피스텔,더 리버스 청담,45.09,6.0
77821,서울특별시 강남구 청담동,월세,202211,"10,000",2019.0,영동대로 740,202211~202309,오피스텔,더 리버스 청담,45.09,6.0
77822,서울특별시 강남구 청담동,월세,202204,"1,000",2018.0,도산대로 419,202204~202303,오피스텔,아노블리81,59.95,9.0
77823,서울특별시 강남구 청담동,월세,202208,"10,000",2018.0,도산대로 419,202208~202308,오피스텔,아노블리81,59.97,12.0
77824,서울특별시 강남구 청담동,월세,202206,"13,000",1991.0,영동대로 738,202207~202407,오피스텔,현대 오피스텔,23.37,9.0

In [2]:
df.drop(df[df['전월세구분'] == '월세'].index, inplace=True)
df

,시군구,전월세구분,계약년월,보증금(만원),건축년도,도로명,계약기간,구분,단지명,전용면적(㎡),층
14,서울특별시 강남구 개포동,전세,202212,"9,000",1988.0,NaN,-,단독다가구,NaN,NaN,NaN
30,서울특별시 강남구 개포동,전세,202206,"7,500",1989.0,논현로4길,202206~202406,단독다가구,NaN,NaN,NaN
32,서울특별시 강남구 개포동,전세,202205,"11,000",1994.0,논현로10길,202205~202405,단독다가구,NaN,NaN,NaN
36,서울특별시 강남구 개포동,전세,202201,"16,800",NaN,개포로20길,202202~202402,단독다가구,NaN,NaN,NaN
46,서울특별시 강남구 개포동,전세,202202,"13,000",1989.0,개포로15길,-,단독다가구,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
77810,서울특별시 강남구 청담동,전세,202205,"14,000",1991.0,도산대로 446,202206~202406,오피스텔,경원오피스텔,22.77,7.0
77811,서울특별시 강남구 청담동,전세,202206,"17,000",1991.0,도산대로 446,202207~202407,오피스텔,경원오피스텔,22.77,9.0
77814,서울특별시 강남구 청담동,전세,202202,"67,200",2019.0,영동대로 740,202203~202303,오피스텔,더 리버스 청담,45.09,7.0
77819,서울특별시 강남구 청담동,전세,202208,"84,000",2019.0,영동대로 740,202209~202409,오피스텔,더 리버스 청담,45.09,17.0
77820,서울특별시 강남구 청담동,전세,202210,"64,000",2019.0,영동대로 740,202211~202411,오피스텔,더 리버스 청담,45.09,6.0

In [3]:
def transform_address(address):
    address_parts = address.split(' ')
    return ' '.join(address_parts[:2])

# Apply the function to the '시군구' column using apply()
df['시군구'] = df['시군구'].apply(transform_address)

df

,시군구,전월세구분,계약년월,보증금(만원),건축년도,도로명,계약기간,구분,단지명,전용면적(㎡),층
14,서울특별시 강남구,전세,202212,"9,000",1988.0,NaN,-,단독다가구,NaN,NaN,NaN
30,서울특별시 강남구,전세,202206,"7,500",1989.0,논현로4길,202206~202406,단독다가구,NaN,NaN,NaN
32,서울특별시 강남구,전세,202205,"11,000",1994.0,논현로10길,202205~202405,단독다가구,NaN,NaN,NaN
36,서울특별시 강남구,전세,202201,"16,800",NaN,개포로20길,202202~202402,단독다가구,NaN,NaN,NaN
46,서울특별시 강남구,전세,202202,"13,000",1989.0,개포로15길,-,단독다가구,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
77810,서울특별시 강남구,전세,202205,"14,000",1991.0,도산대로 446,202206~202406,오피스텔,경원오피스텔,22.77,7.0
77811,서울특별시 강남구,전세,202206,"17,000",1991.0,도산대로 446,202207~202407,오피스텔,경원오피스텔,22.77,9.0
77814,서울특별시 강남구,전세,202202,"67,200",2019.0,영동대로 740,202203~202303,오피스텔,더 리버스 청담,45.09,7.0
77819,서울특별시 강남구,전세,202208,"84,000",2019.0,영동대로 740,202209~202409,오피스텔,더 리버스 청담,45.09,17.0
77820,서울특별시 강남구,전세,202210,"64,000",2019.0,영동대로 740,202211~202411,오피스텔,더 리버스 청담,45.09,6.0

In [4]:
df['도로명주소'] = df['시군구'] + ' ' + df['도로명']
df

,시군구,전월세구분,계약년월,보증금(만원),건축년도,도로명,계약기간,구분,단지명,전용면적(㎡),층,도로명주소
14,서울특별시 강남구,전세,202212,"9,000",1988.0,NaN,-,단독다가구,NaN,NaN,NaN,NaN
30,서울특별시 강남구,전세,202206,"7,500",1989.0,논현로4길,202206~202406,단독다가구,NaN,NaN,NaN,서울특별시 강남구 논현로4길
32,서울특별시 강남구,전세,202205,"11,000",1994.0,논현로10길,202205~202405,단독다가구,NaN,NaN,NaN,서울특별시 강남구 논현로10길
36,서울특별시 강남구,전세,202201,"16,800",NaN,개포로20길,202202~202402,단독다가구,NaN,NaN,NaN,서울특별시 강남구 개포로20길
46,서울특별시 강남구,전세,202202,"13,000",1989.0,개포로15길,-,단독다가구,NaN,NaN,NaN,서울특별시 강남구 개포로15길
...,...,...,...,...,...,...,...,...,...,...,...,...
77810,서울특별시 강남구,전세,202205,"14,000",1991.0,도산대로 446,202206~202406,오피스텔,경원오피스텔,22.77,7.0,서울특별시 강남구 도산대로 446
77811,서울특별시 강남구,전세,202206,"17,000",1991.0,도산대로 446,202207~202407,오피스텔,경원오피스텔,22.77,9.0,서울특별시 강남구 도산대로 446
77814,서울특별시 강남구,전세,202202,"67,200",2019.0,영동대로 740,202203~202303,오피스텔,더 리버스 청담,45.09,7.0,서울특별시 강남구 영동대로 740
77819,서울특별시 강남구,전세,202208,"84,000",2019.0,영동대로 740,202209~202409,오피스텔,더 리버스 청담,45.09,17.0,서울특별시 강남구 영동대로 740
77820,서울특별시 강남구,전세,202210,"64,000",2019.0,영동대로 740,202211~202411,오피스텔,더 리버스 청담,45.09,6.0,서울특별시 강남구 영동대로 740

In [5]:
df.reset_index(drop=True, inplace=True)
df

,시군구,전월세구분,계약년월,보증금(만원),건축년도,도로명,계약기간,구분,단지명,전용면적(㎡),층,도로명주소
0,서울특별시 강남구,전세,202212,"9,000",1988.0,NaN,-,단독다가구,NaN,NaN,NaN,NaN
1,서울특별시 강남구,전세,202206,"7,500",1989.0,논현로4길,202206~202406,단독다가구,NaN,NaN,NaN,서울특별시 강남구 논현로4길
2,서울특별시 강남구,전세,202205,"11,000",1994.0,논현로10길,202205~202405,단독다가구,NaN,NaN,NaN,서울특별시 강남구 논현로10길
3,서울특별시 강남구,전세,202201,"16,800",NaN,개포로20길,202202~202402,단독다가구,NaN,NaN,NaN,서울특별시 강남구 개포로20길
4,서울특별시 강남구,전세,202202,"13,000",1989.0,개포로15길,-,단독다가구,NaN,NaN,NaN,서울특별시 강남구 개포로15길
...,...,...,...,...,...,...,...,...,...,...,...,...
36927,서울특별시 강남구,전세,202205,"14,000",1991.0,도산대로 446,202206~202406,오피스텔,경원오피스텔,22.77,7.0,서울특별시 강남구 도산대로 446
36928,서울특별시 강남구,전세,202206,"17,000",1991.0,도산대로 446,202207~202407,오피스텔,경원오피스텔,22.77,9.0,서울특별시 강남구 도산대로 446
36929,서울특별시 강남구,전세,202202,"67,200",2019.0,영동대로 740,202203~202303,오피스텔,더 리버스 청담,45.09,7.0,서울특별시 강남구 영동대로 740
36930,서울특별시 강남구,전세,202208,"84,000",2019.0,영동대로 740,202209~202409,오피스텔,더 리버스 청담,45.09,17.0,서울특별시 강남구 영동대로 740
36931,서울특별시 강남구,전세,202210,"64,000",2019.0,영동대로 740,202211~202411,오피스텔,더 리버스 청담,45.09,6.0,서울특별시 강남구 영동대로 740

In [6]:
df1 = pd.read_csv('18_19_20_강남구전세실거래가.csv',  usecols = ['시군구', '단지명', '전용면적(㎡)', '보증금(만원)','층','도로명','계약년월','계약기간','전월세구분','건축년도','구분'])
df1

,시군구,전월세구분,계약년월,보증금(만원),건축년도,도로명,계약기간,구분,단지명,전용면적(㎡),층
0,서울특별시 강남구 개포동,월세,201804,500,1998.0,개포로20길,-,단독다가구,NaN,NaN,NaN
1,서울특별시 강남구 개포동,월세,201804,"2,000",1989.0,NaN,-,단독다가구,NaN,NaN,NaN
2,서울특별시 강남구 개포동,월세,201802,500,1990.0,개포로15길,-,단독다가구,NaN,NaN,NaN
3,서울특별시 강남구 개포동,월세,201807,600,1993.0,개포로25길,-,단독다가구,NaN,NaN,NaN
4,서울특별시 강남구 개포동,월세,201806,500,1991.0,NaN,-,단독다가구,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
89844,서울특별시 강남구 청담동,월세,202007,"10,000",2019.0,영동대로 740,-,오피스텔,더 리버스 청담,45.09,13.0
89845,서울특별시 강남구 청담동,월세,202007,"25,000",2019.0,영동대로 740,-,오피스텔,더 리버스 청담,45.09,12.0
89846,서울특별시 강남구 청담동,전세,202008,"80,000",2019.0,영동대로 740,-,오피스텔,더 리버스 청담,45.09,17.0
89847,서울특별시 강남구 청담동,월세,202012,"70,000",2019.0,영동대로 740,-,오피스텔,더 리버스 청담,45.09,16.0
89848,서울특별시 강남구 청담동,월세,202002,"3,000",2018.0,도산대로 419,-,오피스텔,아노블리81,59.95,10.0

In [7]:
df2 = pd.concat([df, df1], ignore_index=True)
df2

,시군구,전월세구분,계약년월,보증금(만원),건축년도,도로명,계약기간,구분,단지명,전용면적(㎡),층,도로명주소
0,서울특별시 강남구,전세,202212,"9,000",1988.0,NaN,-,단독다가구,NaN,NaN,NaN,NaN
1,서울특별시 강남구,전세,202206,"7,500",1989.0,논현로4길,202206~202406,단독다가구,NaN,NaN,NaN,서울특별시 강남구 논현로4길
2,서울특별시 강남구,전세,202205,"11,000",1994.0,논현로10길,202205~202405,단독다가구,NaN,NaN,NaN,서울특별시 강남구 논현로10길
3,서울특별시 강남구,전세,202201,"16,800",NaN,개포로20길,202202~202402,단독다가구,NaN,NaN,NaN,서울특별시 강남구 개포로20길
4,서울특별시 강남구,전세,202202,"13,000",1989.0,개포로15길,-,단독다가구,NaN,NaN,NaN,서울특별시 강남구 개포로15길
...,...,...,...,...,...,...,...,...,...,...,...,...
126776,서울특별시 강남구 청담동,월세,202007,"10,000",2019.0,영동대로 740,-,오피스텔,더 리버스 청담,45.09,13.0,NaN
126777,서울특별시 강남구 청담동,월세,202007,"25,000",2019.0,영동대로 740,-,오피스텔,더 리버스 청담,45.09,12.0,NaN
126778,서울특별시 강남구 청담동,전세,202008,"80,000",2019.0,영동대로 740,-,오피스텔,더 리버스 청담,45.09,17.0,NaN
126779,서울특별시 강남구 청담동,월세,202012,"70,000",2019.0,영동대로 740,-,오피스텔,더 리버스 청담,45.09,16.0,NaN
126780,서울특별시 강남구 청담동,월세,202002,"3,000",2018.0,도산대로 419,-,오피스텔,아노블리81,59.95,10.0,NaN

In [8]:
df2['도로명주소'] = df2['시군구'] + ' ' + df2['도로명']

In [9]:
df2['도로명주소'].nunique()

7493

In [10]:
df2.drop(df2[df2['전월세구분'] == "월세"].index, inplace=True)
df2

,시군구,전월세구분,계약년월,보증금(만원),건축년도,도로명,계약기간,구분,단지명,전용면적(㎡),층,도로명주소
0,서울특별시 강남구,전세,202212,"9,000",1988.0,NaN,-,단독다가구,NaN,NaN,NaN,NaN
1,서울특별시 강남구,전세,202206,"7,500",1989.0,논현로4길,202206~202406,단독다가구,NaN,NaN,NaN,서울특별시 강남구 논현로4길
2,서울특별시 강남구,전세,202205,"11,000",1994.0,논현로10길,202205~202405,단독다가구,NaN,NaN,NaN,서울특별시 강남구 논현로10길
3,서울특별시 강남구,전세,202201,"16,800",NaN,개포로20길,202202~202402,단독다가구,NaN,NaN,NaN,서울특별시 강남구 개포로20길
4,서울특별시 강남구,전세,202202,"13,000",1989.0,개포로15길,-,단독다가구,NaN,NaN,NaN,서울특별시 강남구 개포로15길
...,...,...,...,...,...,...,...,...,...,...,...,...
126767,서울특별시 강남구 청담동,전세,202004,"10,000",2003.0,학동로 437-6,-,오피스텔,\t(46-3)\t,17.73,3.0,서울특별시 강남구 청담동 학동로 437-6
126768,서울특별시 강남구 청담동,전세,202007,"10,500",2003.0,학동로 437-6,-,오피스텔,\t(46-3)\t,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6
126769,서울특별시 강남구 청담동,전세,202007,"11,000",2003.0,학동로 437-6,-,오피스텔,\t(46-3)\t,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6
126772,서울특별시 강남구 청담동,전세,202009,"13,000",1991.0,도산대로 446,-,오피스텔,경원오피스텔,22.77,11.0,서울특별시 강남구 청담동 도산대로 446
126778,서울특별시 강남구 청담동,전세,202008,"80,000",2019.0,영동대로 740,-,오피스텔,더 리버스 청담,45.09,17.0,서울특별시 강남구 청담동 영동대로 740

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88602 entries, 0 to 126778
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      88602 non-null  object
 1   전월세구분    88602 non-null  object
 2   계약년월     88602 non-null  int64
 3   보증금(만원)  88602 non-null  object
 4   건축년도     87619 non-null  float64
 5   도로명      87367 non-null  object
 6   계약기간     88602 non-null  object
 7   구분       88602 non-null  object
 8   단지명      62108 non-null  object
 9   전용면적(㎡)  77889 non-null  float64
 10  층        77889 non-null  float64
 11  도로명주소    87367 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 8.8+ MB

In [12]:
# 도로명으로 바꿔서 버림
df2 = df2.drop(['시군구','도로명','단지명'], axis=1)
df2

,전월세구분,계약년월,보증금(만원),건축년도,계약기간,구분,전용면적(㎡),층,도로명주소
0,전세,202212,"9,000",1988.0,-,단독다가구,NaN,NaN,NaN
1,전세,202206,"7,500",1989.0,202206~202406,단독다가구,NaN,NaN,서울특별시 강남구 논현로4길
2,전세,202205,"11,000",1994.0,202205~202405,단독다가구,NaN,NaN,서울특별시 강남구 논현로10길
3,전세,202201,"16,800",NaN,202202~202402,단독다가구,NaN,NaN,서울특별시 강남구 개포로20길
4,전세,202202,"13,000",1989.0,-,단독다가구,NaN,NaN,서울특별시 강남구 개포로15길
...,...,...,...,...,...,...,...,...,...
126767,전세,202004,"10,000",2003.0,-,오피스텔,17.73,3.0,서울특별시 강남구 청담동 학동로 437-6
126768,전세,202007,"10,500",2003.0,-,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6
126769,전세,202007,"11,000",2003.0,-,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6
126772,전세,202009,"13,000",1991.0,-,오피스텔,22.77,11.0,서울특별시 강남구 청담동 도산대로 446
126778,전세,202008,"80,000",2019.0,-,오피스텔,45.09,17.0,서울특별시 강남구 청담동 영동대로 740

# 데이터전처리(null)

In [13]:
df2.isnull().sum()
# 건축년도 평균값

전월세구분          0
계약년월           0
보증금(만원)        0
건축년도         983
계약기간           0
구분             0
전용면적(㎡)    10713
층          10713
도로명주소       1235
dtype: int64

In [14]:
df2.info()
# 계약년월 datetime 변환
# object float값으로
# 계약기간(전), (후)
# 전용면적 수치형

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88602 entries, 0 to 126778
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전월세구분    88602 non-null  object
 1   계약년월     88602 non-null  int64
 2   보증금(만원)  88602 non-null  object
 3   건축년도     87619 non-null  float64
 4   계약기간     88602 non-null  object
 5   구분       88602 non-null  object
 6   전용면적(㎡)  77889 non-null  float64
 7   층        77889 non-null  float64
 8   도로명주소    87367 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB

In [15]:
df2.describe()

                계약년월          건축년도       전용면적(㎡)             층
count   88602.000000  87619.000000  77889.000000  77889.000000
mean   202013.771597   2000.393202     70.668011      7.329315
std       143.253821     14.506171     38.387808      5.929395
min    201801.000000   1111.000000     11.390000     -1.000000
25%    201904.000000   1992.000000     39.510000      3.000000
50%    202007.000000   2002.000000     63.870000      6.000000
75%    202112.000000   2013.000000     84.970000     10.000000
max    202212.000000   2023.000000    301.470000     67.000000

In [16]:
# Assuming you have imported pandas and created the DataFrame df2

# Drop rows where '건축년도' is equal to 1111.0
df2 = df2[df2['건축년도'] != 1111.0]

In [17]:
df2.isnull().sum()

전월세구분          0
계약년월           0
보증금(만원)        0
건축년도         983
계약기간           0
구분             0
전용면적(㎡)    10707
층          10707
도로명주소       1235
dtype: int64

In [18]:
df2['건축년도'].mean()

2000.4541106913357

In [19]:
# 건축년도를 int형으로..
df2['건축년도'].fillna(df2['건축년도'].mean(), inplace=True)
df2['건축년도'] = df2['건축년도'].astype(int)
df2

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_63422/3090078143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['건축년도'].fillna(df2['건축년도'].mean(), inplace=True)
/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_63422/3090078143.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['건축년도'] = df2['건축년도'].astype(int)

,전월세구분,계약년월,보증금(만원),건축년도,계약기간,구분,전용면적(㎡),층,도로명주소
0,전세,202212,"9,000",1988,-,단독다가구,NaN,NaN,NaN
1,전세,202206,"7,500",1989,202206~202406,단독다가구,NaN,NaN,서울특별시 강남구 논현로4길
2,전세,202205,"11,000",1994,202205~202405,단독다가구,NaN,NaN,서울특별시 강남구 논현로10길
3,전세,202201,"16,800",2000,202202~202402,단독다가구,NaN,NaN,서울특별시 강남구 개포로20길
4,전세,202202,"13,000",1989,-,단독다가구,NaN,NaN,서울특별시 강남구 개포로15길
...,...,...,...,...,...,...,...,...,...
126767,전세,202004,"10,000",2003,-,오피스텔,17.73,3.0,서울특별시 강남구 청담동 학동로 437-6
126768,전세,202007,"10,500",2003,-,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6
126769,전세,202007,"11,000",2003,-,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6
126772,전세,202009,"13,000",1991,-,오피스텔,22.77,11.0,서울특별시 강남구 청담동 도산대로 446
126778,전세,202008,"80,000",2019,-,오피스텔,45.09,17.0,서울특별시 강남구 청담동 영동대로 740

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88596 entries, 0 to 126778
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전월세구분    88596 non-null  object
 1   계약년월     88596 non-null  int64
 2   보증금(만원)  88596 non-null  object
 3   건축년도     88596 non-null  int64
 4   계약기간     88596 non-null  object
 5   구분       88596 non-null  object
 6   전용면적(㎡)  77889 non-null  float64
 7   층        77889 non-null  float64
 8   도로명주소    87361 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.8+ MB

In [21]:
# int형으로 변환
df2['보증금(만원)'] = pd.to_numeric(df2['보증금(만원)'].str.replace(',', ''), errors='coerce')

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_63422/3522491795.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['보증금(만원)'] = pd.to_numeric(df2['보증금(만원)'].str.replace(',', ''), errors='coerce')

In [22]:
df2

,전월세구분,계약년월,보증금(만원),건축년도,계약기간,구분,전용면적(㎡),층,도로명주소
0,전세,202212,9000,1988,-,단독다가구,NaN,NaN,NaN
1,전세,202206,7500,1989,202206~202406,단독다가구,NaN,NaN,서울특별시 강남구 논현로4길
2,전세,202205,11000,1994,202205~202405,단독다가구,NaN,NaN,서울특별시 강남구 논현로10길
3,전세,202201,16800,2000,202202~202402,단독다가구,NaN,NaN,서울특별시 강남구 개포로20길
4,전세,202202,13000,1989,-,단독다가구,NaN,NaN,서울특별시 강남구 개포로15길
...,...,...,...,...,...,...,...,...,...
126767,전세,202004,10000,2003,-,오피스텔,17.73,3.0,서울특별시 강남구 청담동 학동로 437-6
126768,전세,202007,10500,2003,-,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6
126769,전세,202007,11000,2003,-,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6
126772,전세,202009,13000,1991,-,오피스텔,22.77,11.0,서울특별시 강남구 청담동 도산대로 446
126778,전세,202008,80000,2019,-,오피스텔,45.09,17.0,서울특별시 강남구 청담동 영동대로 740

In [23]:
# 계약기간 시작 종료로 나누기
df2['계약시작'] = pd.to_datetime(df2['계약기간'].str.split('~', expand=True)[0], format='%Y%m', errors='coerce')
df2['계약종료'] = pd.to_datetime(df2['계약기간'].str.split('~', expand=True)[1], format='%Y%m', errors='coerce')

# 계약기간 컬럼 버리기
df2.drop('계약기간', axis=1, inplace=True)
df2

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_63422/835763802.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['계약시작'] = pd.to_datetime(df2['계약기간'].str.split('~', expand=True)[0], format='%Y%m', errors='coerce')
/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_63422/835763802.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['계약종료'] = pd.to_datetime(df2['계약기간'].str.split('~', expand=True)[1], format='%Y%m', errors='coerce')
/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_63422/835763802.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('계약기간', axis=1, inplace=True)

,전월세구분,계약년월,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료
0,전세,202212,9000,1988,단독다가구,NaN,NaN,NaN,NaT,NaT
1,전세,202206,7500,1989,단독다가구,NaN,NaN,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01
2,전세,202205,11000,1994,단독다가구,NaN,NaN,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01
3,전세,202201,16800,2000,단독다가구,NaN,NaN,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01
4,전세,202202,13000,1989,단독다가구,NaN,NaN,서울특별시 강남구 개포로15길,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...
126767,전세,202004,10000,2003,오피스텔,17.73,3.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
126768,전세,202007,10500,2003,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
126769,전세,202007,11000,2003,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
126772,전세,202009,13000,1991,오피스텔,22.77,11.0,서울특별시 강남구 청담동 도산대로 446,NaT,NaT
126778,전세,202008,80000,2019,오피스텔,45.09,17.0,서울특별시 강남구 청담동 영동대로 740,NaT,NaT

In [24]:
# 전용면적 전처리
df2['전용면적(㎡)'].isna().sum()

10707

In [25]:
df2['전용면적(㎡)'].mean()

70.66801082694604

In [26]:
df2['전용면적(㎡)'].median()

63.87

In [27]:
# median_year = df2['건축년도'].median()
# df2['건축년도'].fillna(median_year, inplace=True)

In [28]:
df2

,전월세구분,계약년월,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료
0,전세,202212,9000,1988,단독다가구,NaN,NaN,NaN,NaT,NaT
1,전세,202206,7500,1989,단독다가구,NaN,NaN,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01
2,전세,202205,11000,1994,단독다가구,NaN,NaN,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01
3,전세,202201,16800,2000,단독다가구,NaN,NaN,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01
4,전세,202202,13000,1989,단독다가구,NaN,NaN,서울특별시 강남구 개포로15길,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...
126767,전세,202004,10000,2003,오피스텔,17.73,3.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
126768,전세,202007,10500,2003,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
126769,전세,202007,11000,2003,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
126772,전세,202009,13000,1991,오피스텔,22.77,11.0,서울특별시 강남구 청담동 도산대로 446,NaT,NaT
126778,전세,202008,80000,2019,오피스텔,45.09,17.0,서울특별시 강남구 청담동 영동대로 740,NaT,NaT

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88596 entries, 0 to 126778
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전월세구분    88596 non-null  object
 1   계약년월     88596 non-null  int64
 2   보증금(만원)  88596 non-null  int64
 3   건축년도     88596 non-null  int64
 4   구분       88596 non-null  object
 5   전용면적(㎡)  77889 non-null  float64
 6   층        77889 non-null  float64
 7   도로명주소    87361 non-null  object
 8   계약시작     25087 non-null  datetime64[ns]
 9   계약종료     25087 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(3), object(3)
memory usage: 7.4+ MB

In [30]:
# 전용면적 null값 중앙값으로... 이유는 편차가 큼
# median_floor = df2['전용면적(㎡)'].median()
# df2['전용면적(㎡)'].fillna(median_floor, inplace=True)
# df2

In [31]:
median_floor = df2['층'].median()

df2['층'].fillna(median_floor, inplace=True)
df2

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_63422/3471306623.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['층'].fillna(median_floor, inplace=True)

,전월세구분,계약년월,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료
0,전세,202212,9000,1988,단독다가구,NaN,6.0,NaN,NaT,NaT
1,전세,202206,7500,1989,단독다가구,NaN,6.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01
2,전세,202205,11000,1994,단독다가구,NaN,6.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01
3,전세,202201,16800,2000,단독다가구,NaN,6.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01
4,전세,202202,13000,1989,단독다가구,NaN,6.0,서울특별시 강남구 개포로15길,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...
126767,전세,202004,10000,2003,오피스텔,17.73,3.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
126768,전세,202007,10500,2003,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
126769,전세,202007,11000,2003,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
126772,전세,202009,13000,1991,오피스텔,22.77,11.0,서울특별시 강남구 청담동 도산대로 446,NaT,NaT
126778,전세,202008,80000,2019,오피스텔,45.09,17.0,서울특별시 강남구 청담동 영동대로 740,NaT,NaT

In [37]:
df2.reset_index(drop=True, inplace=True)
df2

,전월세구분,계약년월,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료
0,전세,202212,9000,1988,단독다가구,NaN,6.0,,NaT,NaT
1,전세,202206,7500,1989,단독다가구,NaN,6.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01
2,전세,202205,11000,1994,단독다가구,NaN,6.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01
3,전세,202201,16800,2000,단독다가구,NaN,6.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01
4,전세,202202,13000,1989,단독다가구,NaN,6.0,서울특별시 강남구 개포로15길,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...
88591,전세,202004,10000,2003,오피스텔,17.73,3.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
88592,전세,202007,10500,2003,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
88593,전세,202007,11000,2003,오피스텔,17.73,1.0,서울특별시 강남구 청담동 학동로 437-6,NaT,NaT
88594,전세,202009,13000,1991,오피스텔,22.77,11.0,서울특별시 강남구 청담동 도산대로 446,NaT,NaT
88595,전세,202008,80000,2019,오피스텔,45.09,17.0,서울특별시 강남구 청담동 영동대로 740,NaT,NaT

In [49]:
def extract_gu_from_address(address):
    pattern = r'\s(\S+)'
    result = re.search(pattern, address)
    if result:
        return result.group(1)
    return None

# apply 메소드를 이용하여 '강남구'만 추출하여 새로운 칼럼 생성
df2['구'] = df2['도로명주소'].apply(extract_gu_from_address)

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_63422/4236614599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['구'] = df2['도로명주소'].apply(extract_gu_from_address)

In [52]:
df.to_csv('강남구전세분석데이터(1차전처리)', index=False)