In [55]:
import pandas as pd

df_main = pd.read_csv('강남구전세데이터+스타벅스+미쉐린+맥날.csv', encoding='utf-8')
df_main.head()

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,스타벅스 지점수,미쉐린 지점수,맥도날드 지점수
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0,0,0
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725,0,0,0
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0,0,0
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0,0,0
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0,0,0

In [56]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구        87361 non-null  object
 1   전월세구분      87361 non-null  object
 2   보증금(만원)    87361 non-null  int64
 3   건축년도       87361 non-null  int64
 4   구분         87361 non-null  object
 5   전용면적(㎡)    87361 non-null  float64
 6   층          87361 non-null  float64
 7   도로명주소      87361 non-null  object
 8   계약시작       25069 non-null  object
 9   계약종료       25069 non-null  object
 10  계약년월일      87361 non-null  object
 11  구          87361 non-null  object
 12  건축나이       87361 non-null  int64
 13  Latitude   87361 non-null  float64
 14  Longitude  87361 non-null  float64
 15  스타벅스 지점수   87361 non-null  int64
 16  미쉐린 지점수    87361 non-null  int64
 17  맥도날드 지점수   87361 non-null  int64
dtypes: float64(4), int64(6), object(8)
memory usage: 12.0+ MB

In [57]:
# 1. 필요없는 칼럼을 없앤다!
df_store = pd.read_csv('대규모점포.csv', encoding='utf-8')
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  39 non-null     int64
 1   개방자치단체코드    39 non-null     int64
 2   인허가일자       39 non-null     object
 3   영업상태코드      39 non-null     int64
 4   영업상태명       39 non-null     object
 5   상세영업상태코드    39 non-null     int64
 6   상세영업상태명     39 non-null     object
 7   폐업일자        39 non-null     object
 8   소재지면적       39 non-null     float64
 9   지번주소        27 non-null     object
 10  도로명주소       39 non-null     object
 11  Latitude    39 non-null     float64
 12  Longitude   39 non-null     float64
 13  사업장명        39 non-null     object
 14  업태구분명       38 non-null     object
 15  점포구분명       33 non-null     object
dtypes: float64(3), int64(4), object(9)
memory usage: 5.0+ KB

In [58]:
df_store.head()

,Unnamed: 0,개방자치단체코드,인허가일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,Latitude,Longitude,사업장명,업태구분명,점포구분명
0,3,3220000,1974/11/10,1,영업/정상,1,정상영업,2023/01/02,3062.7,서울특별시 강남구 신사동 510번지 11호,서울특별시 강남구 압구정로2길 46 (신사동),37.518771,127.020669,강남시장,복합쇼핑몰,대규모점포
1,4,3220000,1973/08/01,3,폐업,3,폐업처리,2013/02/14,0.0,서울특별시 강남구 논현동 122번지 8호,서울특별시 강남구 학동로4길 15 (논현동),37.510533,127.023523,영동시장,그 밖의 대규모점포,대규모점포
2,5,3220000,1979/01/17,1,영업/정상,1,정상영업,2023/01/02,0.0,서울특별시 강남구 논현동 227번지 4호,서울특별시 강남구 봉은사로33길 33 (논현동),37.510018,127.034777,논현종합시장,그 밖의 대규모점포,대규모점포
3,9,3220000,1985/07/08,1,영업/정상,1,정상영업,2023/01/02,10250.0,서울특별시 강남구 압구정동 515호,"서울특별시 강남구 압구정로 407 (압구정동, 갤러리아백화점)",37.528080,127.041569,갤러리아백화점(동관),백화점,NaN
4,10,3220000,1978/05/26,3,폐업,3,폐업처리,2014/03/24,0.0,서울특별시 강남구 청담동 122호,서울특별시 강남구 도산대로85길 30 (청담동),37.526432,127.049667,청담제일시장,그 밖의 대규모점포,대규모점포

In [59]:
df_store = df_store.drop(columns=['Unnamed: 0','개방자치단체코드','영업상태코드','영업상태명','상세영업상태코드','상세영업상태명','소재지면적'
                                 ,'지번주소','업태구분명','점포구분명'])

In [6]:
df_store

,인허가일자,폐업일자,도로명주소,Latitude,Longitude,사업장명
0,1974/11/10,2023/01/02,서울특별시 강남구 압구정로2길 46 (신사동),37.518771,127.020669,강남시장
1,1973/08/01,2013/02/14,서울특별시 강남구 학동로4길 15 (논현동),37.510533,127.023523,영동시장
2,1979/01/17,2023/01/02,서울특별시 강남구 봉은사로33길 33 (논현동),37.510018,127.034777,논현종합시장
3,1985/07/08,2023/01/02,"서울특별시 강남구 압구정로 407 (압구정동, 갤러리아백화점)",37.528080,127.041569,갤러리아백화점(동관)
4,1978/05/26,2014/03/24,서울특별시 강남구 도산대로85길 30 (청담동),37.526432,127.049667,청담제일시장
5,1980/05/19,2023/01/02,서울특별시 강남구 학동로101길 26 (청담동),37.522305,127.057736,청담삼익시장
6,1983/10/11,2010/12/30,서울특별시 강남구 봉은사로72길 39 (삼성동),37.510016,127.052614,삼성종합시장
7,1981/04/14,2013/02/20,서울특별시 강남구 역삼로52길 14 (역삼동),37.498529,127.047949,역삼시장
8,1974/12/27,2013/02/20,서울특별시 강남구 역삼로52길 14 (역삼동),37.498529,127.047949,역삼시장
9,1985/11/30,2023/01/02,"서울특별시 강남구 압구정로 165 (압구정동, 현대백화점본점)",37.527327,127.027427,(주)현대백화점 본점
10,1988/10/10,2023/01/02,"서울특별시 강남구 테헤란로 517 (삼성동, 무역센터현대백화점)",37.508615,127.059781,현대백화점 무역센터점
11,1985/03/18,2023/01/02,"서울특별시 강남구 압구정로 343 (압구정동, 갤러리아백화점)",37.528561,127.040055,갤러리아백화점(서관)
12,2000/06/16,2023/01/02,서울특별시 강남구 도곡로 401 (대치동),37.497058,127.053594,롯데백화점(강남점)
13,1988/10/19,2023/01/02,서울특별시 강남구 테헤란로 521 (삼성동),37.509047,127.060893,파르나스몰(PARNAS MALL)
14,2000/05/01,2023/01/02,서울특별시 강남구 봉은사로 524 (삼성동),37.512521,127.058819,코엑스 호텔아케이드
15,2000/05/03,2023/01/02,서울특별시 강남구 영동대로 513 (삼성동),37.512521,127.058819,코엑스 몰
16,1988/05/13,2023/01/02,서울특별시 강남구 남부순환로 2921 (대치동),37.493606,127.059700,남서울종합시장
17,2006/10/24,2023/01/02,서울특별시 강남구 역삼로 310 (역삼동),37.499217,127.048440,(주)이마트 역삼점
18,2006/10/18,2019/08/31,서울특별시 강남구 역삼로 310 (역삼동),37.499217,127.048440,(주)신세계마트 이마트 역삼점
19,2009/11/09,2023/01/02,"서울특별시 강남구 논현로28길 9, 유진빌딩 (도곡동)",37.482759,127.043355,홈플러스익스프레스 도곡2점
20,2011/04/12,2019/08/31,서울특별시 강남구 도산대로 442 (청담동),37.523393,127.043658,SSG Food Market 백화점
21,2011/04/12,2023/01/02,서울특별시 강남구 도산대로 442 (청담동),37.523393,127.043658,SSG Food Market 백화점
22,2011/06/23,2023/01/02,"서울특별시 강남구 강남대로124길 22, 3층 301호 (논현동)",37.509167,127.024584,영동전통시장
23,2012/07/26,2023/01/02,서울특별시 강남구 압구정로46길 5-2 (신사동),37.528052,127.036891,홈플러스 익스프레스 압구정점
24,2012/04/05,2017/03/13,"서울특별시 강남구 학동로43길 38, 지하2층 (논현동, 논현웰스톤)",37.518452,127.038030,(주)지에스리테일 논현점
25,2012/05/18,2023/01/02,"서울특별시 강남구 압구정로18길 25 (신사동, 한국산업양행빌딩)",37.523308,127.025415,(주)지에스리테일 신사점
26,2013/06/04,2023/01/02,서울특별시 강남구 학동로 176 (논현동),37.513524,127.030191,홈플러스익스프레스 학동역점
27,2012/07/02,2014/06/15,서울특별시 강남구 논현로 468 (역삼동),37.500078,127.038542,롯데쇼핑(주)롯데슈퍼 역삼점
28,2011/11/24,2023/01/02,서울특별시 강남구 역삼로 230 (역삼동),37.496894,127.041963,롯데슈퍼 역삼2동점
29,2011/12/02,2023/01/02,서울특별시 강남구 역삼로8길 15 (역삼동),37.493137,127.034229,롯데슈퍼 역삼1동점
30,2012/01/19,2023/01/02,"서울특별시 강남구 언주로122길 25 (논현동, 두산위브아파트)",37.514434,127.024328,롯데슈퍼 논현점
31,2012/07/02,2021/12/30,서울특별시 강남구 도산대로35길 39 (신사동),37.523493,127.030344,롯데슈퍼 압구정점
32,2012/07/02,2023/01/02,서울특별시 강남구 봉은사로103길 5 (삼성동),37.514995,127.061415,롯데슈퍼 코엑스점
33,2012/07/02,2023/01/02,"서울특별시 강남구 언주로 123 (도곡동, 개포한신아파트)",37.486851,127.048798,롯데슈퍼 도곡점
34,2014/09/16,2023/01/02,"서울특별시 강남구 강남대로128길 128-20, 1층 101,104,106호 (논현...",37.511126,127.025421,(주)지에스리테일 GS슈퍼 강남 논현점
35,2014/11/25,2023/01/02,서울특별시 강남구 테헤란로87길 22-0 (삼성동),37.509591,127.059274,도심공항몰(CALT MALL)
36,2016/12/29,2023/01/02,"서울특별시 강남구 삼성로 633, 1층 (삼성동, 삼광빌딩)",37.514543,127.063685,노브랜드 삼성점
37,2022/04/12,2023/01/02,"서울특별시 강남구 압구정로2길 46, 1층 (신사동, ---------)",37.518771,127.020669,이마트에브리데이 강남시장점
38,2022/09/15,2023/01/02,"서울특별시 강남구 압구정로 312, 신사동동 1층 (신사동)",37.528757,127.035514,GS THE FRESH 압구정점

In [7]:
def modify_address(address):
    split_address = address.split('(')[0].strip()  # 괄호 이후의 부분을 제거하고 공백 제거
    return split_address

# 도로명주소 데이터 변환
df_store['도로명주소'] = df_store['도로명주소'].apply(modify_address)

df_store

,인허가일자,폐업일자,도로명주소,Latitude,Longitude,사업장명
0,1974/11/10,2023/01/02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,강남시장
1,1973/08/01,2013/02/14,서울특별시 강남구 학동로4길 15,37.510533,127.023523,영동시장
2,1979/01/17,2023/01/02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,논현종합시장
3,1985/07/08,2023/01/02,서울특별시 강남구 압구정로 407,37.528080,127.041569,갤러리아백화점(동관)
4,1978/05/26,2014/03/24,서울특별시 강남구 도산대로85길 30,37.526432,127.049667,청담제일시장
5,1980/05/19,2023/01/02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,청담삼익시장
6,1983/10/11,2010/12/30,서울특별시 강남구 봉은사로72길 39,37.510016,127.052614,삼성종합시장
7,1981/04/14,2013/02/20,서울특별시 강남구 역삼로52길 14,37.498529,127.047949,역삼시장
8,1974/12/27,2013/02/20,서울특별시 강남구 역삼로52길 14,37.498529,127.047949,역삼시장
9,1985/11/30,2023/01/02,서울특별시 강남구 압구정로 165,37.527327,127.027427,(주)현대백화점 본점
10,1988/10/10,2023/01/02,서울특별시 강남구 테헤란로 517,37.508615,127.059781,현대백화점 무역센터점
11,1985/03/18,2023/01/02,서울특별시 강남구 압구정로 343,37.528561,127.040055,갤러리아백화점(서관)
12,2000/06/16,2023/01/02,서울특별시 강남구 도곡로 401,37.497058,127.053594,롯데백화점(강남점)
13,1988/10/19,2023/01/02,서울특별시 강남구 테헤란로 521,37.509047,127.060893,파르나스몰(PARNAS MALL)
14,2000/05/01,2023/01/02,서울특별시 강남구 봉은사로 524,37.512521,127.058819,코엑스 호텔아케이드
15,2000/05/03,2023/01/02,서울특별시 강남구 영동대로 513,37.512521,127.058819,코엑스 몰
16,1988/05/13,2023/01/02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,남서울종합시장
17,2006/10/24,2023/01/02,서울특별시 강남구 역삼로 310,37.499217,127.048440,(주)이마트 역삼점
18,2006/10/18,2019/08/31,서울특별시 강남구 역삼로 310,37.499217,127.048440,(주)신세계마트 이마트 역삼점
19,2009/11/09,2023/01/02,"서울특별시 강남구 논현로28길 9, 유진빌딩",37.482759,127.043355,홈플러스익스프레스 도곡2점
20,2011/04/12,2019/08/31,서울특별시 강남구 도산대로 442,37.523393,127.043658,SSG Food Market 백화점
21,2011/04/12,2023/01/02,서울특별시 강남구 도산대로 442,37.523393,127.043658,SSG Food Market 백화점
22,2011/06/23,2023/01/02,"서울특별시 강남구 강남대로124길 22, 3층 301호",37.509167,127.024584,영동전통시장
23,2012/07/26,2023/01/02,서울특별시 강남구 압구정로46길 5-2,37.528052,127.036891,홈플러스 익스프레스 압구정점
24,2012/04/05,2017/03/13,"서울특별시 강남구 학동로43길 38, 지하2층",37.518452,127.038030,(주)지에스리테일 논현점
25,2012/05/18,2023/01/02,서울특별시 강남구 압구정로18길 25,37.523308,127.025415,(주)지에스리테일 신사점
26,2013/06/04,2023/01/02,서울특별시 강남구 학동로 176,37.513524,127.030191,홈플러스익스프레스 학동역점
27,2012/07/02,2014/06/15,서울특별시 강남구 논현로 468,37.500078,127.038542,롯데쇼핑(주)롯데슈퍼 역삼점
28,2011/11/24,2023/01/02,서울특별시 강남구 역삼로 230,37.496894,127.041963,롯데슈퍼 역삼2동점
29,2011/12/02,2023/01/02,서울특별시 강남구 역삼로8길 15,37.493137,127.034229,롯데슈퍼 역삼1동점
30,2012/01/19,2023/01/02,서울특별시 강남구 언주로122길 25,37.514434,127.024328,롯데슈퍼 논현점
31,2012/07/02,2021/12/30,서울특별시 강남구 도산대로35길 39,37.523493,127.030344,롯데슈퍼 압구정점
32,2012/07/02,2023/01/02,서울특별시 강남구 봉은사로103길 5,37.514995,127.061415,롯데슈퍼 코엑스점
33,2012/07/02,2023/01/02,서울특별시 강남구 언주로 123,37.486851,127.048798,롯데슈퍼 도곡점
34,2014/09/16,2023/01/02,"서울특별시 강남구 강남대로128길 128-20, 1층 101,104,106호",37.511126,127.025421,(주)지에스리테일 GS슈퍼 강남 논현점
35,2014/11/25,2023/01/02,서울특별시 강남구 테헤란로87길 22-0,37.509591,127.059274,도심공항몰(CALT MALL)
36,2016/12/29,2023/01/02,"서울특별시 강남구 삼성로 633, 1층",37.514543,127.063685,노브랜드 삼성점
37,2022/04/12,2023/01/02,"서울특별시 강남구 압구정로2길 46, 1층",37.518771,127.020669,이마트에브리데이 강남시장점
38,2022/09/15,2023/01/02,"서울특별시 강남구 압구정로 312, 신사동동 1층",37.528757,127.035514,GS THE FRESH 압구정점

In [8]:
def modify_address(address):
    split_address = address.split(',')[0].split('-')[0].strip()  # 쉼표와 대시 이후의 부분을 제거하고 공백 제거
    return split_address

# 도로명주소 데이터 변환
df_store['도로명주소'] = df_store['도로명주소'].apply(modify_address)

df_store

,인허가일자,폐업일자,도로명주소,Latitude,Longitude,사업장명
0,1974/11/10,2023/01/02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,강남시장
1,1973/08/01,2013/02/14,서울특별시 강남구 학동로4길 15,37.510533,127.023523,영동시장
2,1979/01/17,2023/01/02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,논현종합시장
3,1985/07/08,2023/01/02,서울특별시 강남구 압구정로 407,37.528080,127.041569,갤러리아백화점(동관)
4,1978/05/26,2014/03/24,서울특별시 강남구 도산대로85길 30,37.526432,127.049667,청담제일시장
5,1980/05/19,2023/01/02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,청담삼익시장
6,1983/10/11,2010/12/30,서울특별시 강남구 봉은사로72길 39,37.510016,127.052614,삼성종합시장
7,1981/04/14,2013/02/20,서울특별시 강남구 역삼로52길 14,37.498529,127.047949,역삼시장
8,1974/12/27,2013/02/20,서울특별시 강남구 역삼로52길 14,37.498529,127.047949,역삼시장
9,1985/11/30,2023/01/02,서울특별시 강남구 압구정로 165,37.527327,127.027427,(주)현대백화점 본점
10,1988/10/10,2023/01/02,서울특별시 강남구 테헤란로 517,37.508615,127.059781,현대백화점 무역센터점
11,1985/03/18,2023/01/02,서울특별시 강남구 압구정로 343,37.528561,127.040055,갤러리아백화점(서관)
12,2000/06/16,2023/01/02,서울특별시 강남구 도곡로 401,37.497058,127.053594,롯데백화점(강남점)
13,1988/10/19,2023/01/02,서울특별시 강남구 테헤란로 521,37.509047,127.060893,파르나스몰(PARNAS MALL)
14,2000/05/01,2023/01/02,서울특별시 강남구 봉은사로 524,37.512521,127.058819,코엑스 호텔아케이드
15,2000/05/03,2023/01/02,서울특별시 강남구 영동대로 513,37.512521,127.058819,코엑스 몰
16,1988/05/13,2023/01/02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,남서울종합시장
17,2006/10/24,2023/01/02,서울특별시 강남구 역삼로 310,37.499217,127.048440,(주)이마트 역삼점
18,2006/10/18,2019/08/31,서울특별시 강남구 역삼로 310,37.499217,127.048440,(주)신세계마트 이마트 역삼점
19,2009/11/09,2023/01/02,서울특별시 강남구 논현로28길 9,37.482759,127.043355,홈플러스익스프레스 도곡2점
20,2011/04/12,2019/08/31,서울특별시 강남구 도산대로 442,37.523393,127.043658,SSG Food Market 백화점
21,2011/04/12,2023/01/02,서울특별시 강남구 도산대로 442,37.523393,127.043658,SSG Food Market 백화점
22,2011/06/23,2023/01/02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,영동전통시장
23,2012/07/26,2023/01/02,서울특별시 강남구 압구정로46길 5,37.528052,127.036891,홈플러스 익스프레스 압구정점
24,2012/04/05,2017/03/13,서울특별시 강남구 학동로43길 38,37.518452,127.038030,(주)지에스리테일 논현점
25,2012/05/18,2023/01/02,서울특별시 강남구 압구정로18길 25,37.523308,127.025415,(주)지에스리테일 신사점
26,2013/06/04,2023/01/02,서울특별시 강남구 학동로 176,37.513524,127.030191,홈플러스익스프레스 학동역점
27,2012/07/02,2014/06/15,서울특별시 강남구 논현로 468,37.500078,127.038542,롯데쇼핑(주)롯데슈퍼 역삼점
28,2011/11/24,2023/01/02,서울특별시 강남구 역삼로 230,37.496894,127.041963,롯데슈퍼 역삼2동점
29,2011/12/02,2023/01/02,서울특별시 강남구 역삼로8길 15,37.493137,127.034229,롯데슈퍼 역삼1동점
30,2012/01/19,2023/01/02,서울특별시 강남구 언주로122길 25,37.514434,127.024328,롯데슈퍼 논현점
31,2012/07/02,2021/12/30,서울특별시 강남구 도산대로35길 39,37.523493,127.030344,롯데슈퍼 압구정점
32,2012/07/02,2023/01/02,서울특별시 강남구 봉은사로103길 5,37.514995,127.061415,롯데슈퍼 코엑스점
33,2012/07/02,2023/01/02,서울특별시 강남구 언주로 123,37.486851,127.048798,롯데슈퍼 도곡점
34,2014/09/16,2023/01/02,서울특별시 강남구 강남대로128길 128,37.511126,127.025421,(주)지에스리테일 GS슈퍼 강남 논현점
35,2014/11/25,2023/01/02,서울특별시 강남구 테헤란로87길 22,37.509591,127.059274,도심공항몰(CALT MALL)
36,2016/12/29,2023/01/02,서울특별시 강남구 삼성로 633,37.514543,127.063685,노브랜드 삼성점
37,2022/04/12,2023/01/02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,이마트에브리데이 강남시장점
38,2022/09/15,2023/01/02,서울특별시 강남구 압구정로 312,37.528757,127.035514,GS THE FRESH 압구정점

In [9]:
# info를 확인해서 dtype을 확인해보자
df_store['폐업일자'] = pd.to_datetime(df_store['폐업일자'], format='%Y/%m/%d')
df_store

,인허가일자,폐업일자,도로명주소,Latitude,Longitude,사업장명
0,1974/11/10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,강남시장
1,1973/08/01,2013-02-14,서울특별시 강남구 학동로4길 15,37.510533,127.023523,영동시장
2,1979/01/17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,논현종합시장
3,1985/07/08,2023-01-02,서울특별시 강남구 압구정로 407,37.528080,127.041569,갤러리아백화점(동관)
4,1978/05/26,2014-03-24,서울특별시 강남구 도산대로85길 30,37.526432,127.049667,청담제일시장
5,1980/05/19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,청담삼익시장
6,1983/10/11,2010-12-30,서울특별시 강남구 봉은사로72길 39,37.510016,127.052614,삼성종합시장
7,1981/04/14,2013-02-20,서울특별시 강남구 역삼로52길 14,37.498529,127.047949,역삼시장
8,1974/12/27,2013-02-20,서울특별시 강남구 역삼로52길 14,37.498529,127.047949,역삼시장
9,1985/11/30,2023-01-02,서울특별시 강남구 압구정로 165,37.527327,127.027427,(주)현대백화점 본점
10,1988/10/10,2023-01-02,서울특별시 강남구 테헤란로 517,37.508615,127.059781,현대백화점 무역센터점
11,1985/03/18,2023-01-02,서울특별시 강남구 압구정로 343,37.528561,127.040055,갤러리아백화점(서관)
12,2000/06/16,2023-01-02,서울특별시 강남구 도곡로 401,37.497058,127.053594,롯데백화점(강남점)
13,1988/10/19,2023-01-02,서울특별시 강남구 테헤란로 521,37.509047,127.060893,파르나스몰(PARNAS MALL)
14,2000/05/01,2023-01-02,서울특별시 강남구 봉은사로 524,37.512521,127.058819,코엑스 호텔아케이드
15,2000/05/03,2023-01-02,서울특별시 강남구 영동대로 513,37.512521,127.058819,코엑스 몰
16,1988/05/13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,남서울종합시장
17,2006/10/24,2023-01-02,서울특별시 강남구 역삼로 310,37.499217,127.048440,(주)이마트 역삼점
18,2006/10/18,2019-08-31,서울특별시 강남구 역삼로 310,37.499217,127.048440,(주)신세계마트 이마트 역삼점
19,2009/11/09,2023-01-02,서울특별시 강남구 논현로28길 9,37.482759,127.043355,홈플러스익스프레스 도곡2점
20,2011/04/12,2019-08-31,서울특별시 강남구 도산대로 442,37.523393,127.043658,SSG Food Market 백화점
21,2011/04/12,2023-01-02,서울특별시 강남구 도산대로 442,37.523393,127.043658,SSG Food Market 백화점
22,2011/06/23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,영동전통시장
23,2012/07/26,2023-01-02,서울특별시 강남구 압구정로46길 5,37.528052,127.036891,홈플러스 익스프레스 압구정점
24,2012/04/05,2017-03-13,서울특별시 강남구 학동로43길 38,37.518452,127.038030,(주)지에스리테일 논현점
25,2012/05/18,2023-01-02,서울특별시 강남구 압구정로18길 25,37.523308,127.025415,(주)지에스리테일 신사점
26,2013/06/04,2023-01-02,서울특별시 강남구 학동로 176,37.513524,127.030191,홈플러스익스프레스 학동역점
27,2012/07/02,2014-06-15,서울특별시 강남구 논현로 468,37.500078,127.038542,롯데쇼핑(주)롯데슈퍼 역삼점
28,2011/11/24,2023-01-02,서울특별시 강남구 역삼로 230,37.496894,127.041963,롯데슈퍼 역삼2동점
29,2011/12/02,2023-01-02,서울특별시 강남구 역삼로8길 15,37.493137,127.034229,롯데슈퍼 역삼1동점
30,2012/01/19,2023-01-02,서울특별시 강남구 언주로122길 25,37.514434,127.024328,롯데슈퍼 논현점
31,2012/07/02,2021-12-30,서울특별시 강남구 도산대로35길 39,37.523493,127.030344,롯데슈퍼 압구정점
32,2012/07/02,2023-01-02,서울특별시 강남구 봉은사로103길 5,37.514995,127.061415,롯데슈퍼 코엑스점
33,2012/07/02,2023-01-02,서울특별시 강남구 언주로 123,37.486851,127.048798,롯데슈퍼 도곡점
34,2014/09/16,2023-01-02,서울특별시 강남구 강남대로128길 128,37.511126,127.025421,(주)지에스리테일 GS슈퍼 강남 논현점
35,2014/11/25,2023-01-02,서울특별시 강남구 테헤란로87길 22,37.509591,127.059274,도심공항몰(CALT MALL)
36,2016/12/29,2023-01-02,서울특별시 강남구 삼성로 633,37.514543,127.063685,노브랜드 삼성점
37,2022/04/12,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,이마트에브리데이 강남시장점
38,2022/09/15,2023-01-02,서울특별시 강남구 압구정로 312,37.528757,127.035514,GS THE FRESH 압구정점

In [10]:
df_store['인허가일자'] = pd.to_datetime(df_store['인허가일자'], format='%Y/%m/%d')
df_store

,인허가일자,폐업일자,도로명주소,Latitude,Longitude,사업장명
0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,강남시장
1,1973-08-01,2013-02-14,서울특별시 강남구 학동로4길 15,37.510533,127.023523,영동시장
2,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,논현종합시장
3,1985-07-08,2023-01-02,서울특별시 강남구 압구정로 407,37.528080,127.041569,갤러리아백화점(동관)
4,1978-05-26,2014-03-24,서울특별시 강남구 도산대로85길 30,37.526432,127.049667,청담제일시장
5,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,청담삼익시장
6,1983-10-11,2010-12-30,서울특별시 강남구 봉은사로72길 39,37.510016,127.052614,삼성종합시장
7,1981-04-14,2013-02-20,서울특별시 강남구 역삼로52길 14,37.498529,127.047949,역삼시장
8,1974-12-27,2013-02-20,서울특별시 강남구 역삼로52길 14,37.498529,127.047949,역삼시장
9,1985-11-30,2023-01-02,서울특별시 강남구 압구정로 165,37.527327,127.027427,(주)현대백화점 본점
10,1988-10-10,2023-01-02,서울특별시 강남구 테헤란로 517,37.508615,127.059781,현대백화점 무역센터점
11,1985-03-18,2023-01-02,서울특별시 강남구 압구정로 343,37.528561,127.040055,갤러리아백화점(서관)
12,2000-06-16,2023-01-02,서울특별시 강남구 도곡로 401,37.497058,127.053594,롯데백화점(강남점)
13,1988-10-19,2023-01-02,서울특별시 강남구 테헤란로 521,37.509047,127.060893,파르나스몰(PARNAS MALL)
14,2000-05-01,2023-01-02,서울특별시 강남구 봉은사로 524,37.512521,127.058819,코엑스 호텔아케이드
15,2000-05-03,2023-01-02,서울특별시 강남구 영동대로 513,37.512521,127.058819,코엑스 몰
16,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,남서울종합시장
17,2006-10-24,2023-01-02,서울특별시 강남구 역삼로 310,37.499217,127.048440,(주)이마트 역삼점
18,2006-10-18,2019-08-31,서울특별시 강남구 역삼로 310,37.499217,127.048440,(주)신세계마트 이마트 역삼점
19,2009-11-09,2023-01-02,서울특별시 강남구 논현로28길 9,37.482759,127.043355,홈플러스익스프레스 도곡2점
20,2011-04-12,2019-08-31,서울특별시 강남구 도산대로 442,37.523393,127.043658,SSG Food Market 백화점
21,2011-04-12,2023-01-02,서울특별시 강남구 도산대로 442,37.523393,127.043658,SSG Food Market 백화점
22,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,영동전통시장
23,2012-07-26,2023-01-02,서울특별시 강남구 압구정로46길 5,37.528052,127.036891,홈플러스 익스프레스 압구정점
24,2012-04-05,2017-03-13,서울특별시 강남구 학동로43길 38,37.518452,127.038030,(주)지에스리테일 논현점
25,2012-05-18,2023-01-02,서울특별시 강남구 압구정로18길 25,37.523308,127.025415,(주)지에스리테일 신사점
26,2013-06-04,2023-01-02,서울특별시 강남구 학동로 176,37.513524,127.030191,홈플러스익스프레스 학동역점
27,2012-07-02,2014-06-15,서울특별시 강남구 논현로 468,37.500078,127.038542,롯데쇼핑(주)롯데슈퍼 역삼점
28,2011-11-24,2023-01-02,서울특별시 강남구 역삼로 230,37.496894,127.041963,롯데슈퍼 역삼2동점
29,2011-12-02,2023-01-02,서울특별시 강남구 역삼로8길 15,37.493137,127.034229,롯데슈퍼 역삼1동점
30,2012-01-19,2023-01-02,서울특별시 강남구 언주로122길 25,37.514434,127.024328,롯데슈퍼 논현점
31,2012-07-02,2021-12-30,서울특별시 강남구 도산대로35길 39,37.523493,127.030344,롯데슈퍼 압구정점
32,2012-07-02,2023-01-02,서울특별시 강남구 봉은사로103길 5,37.514995,127.061415,롯데슈퍼 코엑스점
33,2012-07-02,2023-01-02,서울특별시 강남구 언주로 123,37.486851,127.048798,롯데슈퍼 도곡점
34,2014-09-16,2023-01-02,서울특별시 강남구 강남대로128길 128,37.511126,127.025421,(주)지에스리테일 GS슈퍼 강남 논현점
35,2014-11-25,2023-01-02,서울특별시 강남구 테헤란로87길 22,37.509591,127.059274,도심공항몰(CALT MALL)
36,2016-12-29,2023-01-02,서울특별시 강남구 삼성로 633,37.514543,127.063685,노브랜드 삼성점
37,2022-04-12,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,이마트에브리데이 강남시장점
38,2022-09-15,2023-01-02,서울특별시 강남구 압구정로 312,37.528757,127.035514,GS THE FRESH 압구정점

In [11]:
from typing import List, Union, Callable, Any, Optional

import numpy as np
import pandas as pd


ColumnarType = Union[str, List[str]]


def maybe_convert_to_list(something: Union[Any, List[Any]]) -> List[Any]:
    """
    Make a list of one element if argument is not a list.
    :param something:
        single value or list
    :return:
        non-empty list
    """
    return something if isinstance(something, list) else [something]


def non_equi_inner_join(
        left: pd.DataFrame,
        right: pd.DataFrame,
        non_equi_conditions: Union[Callable, List[Callable]],
        equi_on: Optional[Union[ColumnarType]] = None,
        equi_left_on: Optional[ColumnarType] = None,
        equi_right_on: Optional[ColumnarType] = None,
        n_partitioning_equi_keys: Optional[int] = None
        ) -> pd.DataFrame:
    """
    Join two `DataFrame`s by arbitrary conditions and,
    optionally, by exact match of some columns (this
    equi join part is regular merge from `pandas`).
    :param left:
        left `DataFrame`
    :param right:
        right `DataFrame`
    :param non_equi_conditions:
        functions such that their only argument is a `DataFrame`
        produced by join that ignores non-equi join part
        and result of each of them is a boolean mask that
        tells which rows satisfy corresponding non-equi join
        condition 
    :param equi_on:
        columns to be used for equi join part, this argument
        overrides `equi_left_on` and `equi_right_on`
    :param equi_left_on:
        columns of `left` to be used for equi join part
    :param equi_right_on:
        columns of `right` to be used for equi join part
    :param n_partitioning_equi_keys:
        number of equi join keys to be used for partitioning;
        the corresponding number of first keys is selected, so
        take this into consideration when ordering equi join keys;
        partitioning means that, instead of running equi join
        followed with filtering by non-equi conditions,
        both `DataFrame`s are split by some of equi join keys,
        then (equi_join+filtering) is run for each of the
        partitions and, finally, results are concatenated;
        the higher this argument, the slower execution can be,
        but also the less memory is taken in case of large
        enough `DataFrames`; default leads to usage of all
        equi join keys for partitioning
    :return:
        joined `DataFrame`
    Examples:
    >>> left = pd.DataFrame([[1, 2, 3],
    >>>                      [4, 5, 6],
    >>>                      [7, 8, 9]],
    >>>                     columns=['a', 'b', 'c'])
    >>> right = pd.DataFrame([[1, 2.5, -3],
    >>>                       [4, 7, -6],
    >>>                       [6, 8.5, -9]],
    >>>                      columns=['a', 'd', 'e'])
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']],
    >>>     equi_on='a'
    >>> )
        pd.DataFrame([[1, 2, 3, 2.5, -3]],
                     columns=['a', 'b', 'c', 'd', 'e'])
    
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']]
    >>> )
        pd.DataFrame([[1, 2, 3, 1, 2.5, -3],
                      [7, 8, 9, 6, 8.5, -9]],
                     columns=['a_x', 'b', 'c', 'a_y', 'd', 'e'])
    """
    # Validate and preprocess inputs.
    non_equi_conditions = maybe_convert_to_list(non_equi_conditions)
    if equi_on is not None:
        equi_left_on = maybe_convert_to_list(equi_on)
        equi_right_on = maybe_convert_to_list(equi_on)
    else:
        equi_left_on = maybe_convert_to_list(equi_left_on)
        equi_right_on = maybe_convert_to_list(equi_right_on)
    if equi_left_on[0] is None:
        if equi_right_on[0] is not None:
            raise ValueError('Left keys are set, right keys are not set.')
        equi_left_on = ['__dummy_key']
        equi_right_on = ['__dummy_key']
        left['__dummy_key'] = 0
        right['__dummy_key'] = 0
    if n_partitioning_equi_keys is None:
        n_partitioning_equi_keys = len(equi_left_on)
    elif n_partitioning_equi_keys > len(equi_left_on):
        raise ValueError(
            'Number of keys for partitioning exceeds number of equi join keys.'
        )

    # Use equi keys (if they are set) for optimizing memory consumption.
    if n_partitioning_equi_keys > 0:
        left_partition_keys = equi_left_on[:n_partitioning_equi_keys]
        right_partition_keys = equi_right_on[:n_partitioning_equi_keys]
        left_partitions = {
            idx: group
            for idx, group
            in left.groupby(left_partition_keys, as_index=False)
        }
        right_partitions = {
            idx: group
            for idx, group
            in right.groupby(right_partition_keys, as_index=False)
        }
    else:
        left_partitions = {None: left}
        right_partitions = {None: right}
    
    # Join DataFrames.
    join_results = []
    for idx, curr_left in left_partitions.items():
        curr_right = right_partitions.get(idx)
        if curr_right is None:
            continue
        curr_joined = pd.merge(
            curr_left,
            curr_right,
            left_on=equi_left_on,
            right_on=equi_right_on
        )
        conditions = [
            checking_fn(curr_joined) for checking_fn in non_equi_conditions
        ]
        curr_joined = curr_joined[np.logical_and.reduce(conditions)]
        join_results.append(curr_joined)
    if len(join_results) > 0:
        joined = pd.concat(join_results)
    else:
        joined = pd.DataFrame(columns=left.columns)
    tmp_columns = [x for x in joined.columns.tolist() if '__dummy_key' in x]
    joined.drop(tmp_columns, axis=1, inplace=True)
    return joined

In [12]:
from tqdm import tqdm
df = non_equi_inner_join(
    df_main,
    df_store,
    non_equi_conditions=[lambda x: x['계약년월일'] >= x['인허가일자'],
                         lambda x: x['계약년월일'] <= x['폐업일자']]
)
tqdm.pandas()

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_59828/1636090169.py:121: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  left_partitions = {
/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_59828/1636090169.py:126: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  right_partitions = {

In [13]:
df

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,계약시작,계약종료,...,Longitude_x,스타벅스 지점수,미쉐린 지점수,맥도날드 지점수,인허가일자,폐업일자,도로명주소_y,Latitude_y,Longitude_y,사업장명
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,강남시장
2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,논현종합시장
3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1985-07-08,2023-01-02,서울특별시 강남구 압구정로 407,37.528080,127.041569,갤러리아백화점(동관)
5,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,청담삼익시장
9,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1985-11-30,2023-01-02,서울특별시 강남구 압구정로 165,37.527327,127.027427,(주)현대백화점 본점
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3407072,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2012-07-02,2023-01-02,서울특별시 강남구 봉은사로103길 5,37.514995,127.061415,롯데슈퍼 코엑스점
3407073,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2012-07-02,2023-01-02,서울특별시 강남구 언주로 123,37.486851,127.048798,롯데슈퍼 도곡점
3407074,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2014-09-16,2023-01-02,서울특별시 강남구 강남대로128길 128,37.511126,127.025421,(주)지에스리테일 GS슈퍼 강남 논현점
3407075,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2014-11-25,2023-01-02,서울특별시 강남구 테헤란로87길 22,37.509591,127.059274,도심공항몰(CALT MALL)
3407076,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2016-12-29,2023-01-02,서울특별시 강남구 삼성로 633,37.514543,127.063685,노브랜드 삼성점

In [13]:
pip install geopy

Requirement already satisfied: geopy in /Users/haneul/anaconda3/lib/python3.10/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from geopy.distance import geodesic
from tqdm import tqdm
def calculate_distance(row):
    try:
        return geodesic((row['Latitude_x'], row['Longitude_x']), (row['Latitude_y'], row['Longitude_y'])).kilometers
    except (ValueError, TypeError):
        return None
tqdm.pandas()
df['대규모점포 개수'] = df.apply(calculate_distance, axis=1)

In [44]:
df

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,계약시작,계약종료,...,Longitude_x,스타벅스 지점수,미쉐린 지점수,맥도날드 지점수,인허가일자,폐업일자,Latitude_y,Longitude_y,사업장명,대규모점포 개수
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1974-11-10,2023-01-02,37.518771,127.020669,강남시장,5.747537
2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1979-01-17,2023-01-02,37.510018,127.034777,논현종합시장,4.329778
3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1985-07-08,2023-01-02,37.528080,127.041569,갤러리아백화점(동관),6.113143
5,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1980-05-19,2023-01-02,37.522305,127.057736,청담삼익시장,5.410192
9,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,1985-11-30,2023-01-02,37.527327,127.027427,(주)현대백화점 본점,6.356083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3407072,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2012-07-02,2023-01-02,37.514995,127.061415,롯데슈퍼 코엑스점,2.093332
3407073,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2012-07-02,2023-01-02,37.486851,127.048798,롯데슈퍼 도곡점,1.749340
3407074,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2014-09-16,2023-01-02,37.511126,127.025421,(주)지에스리테일 GS슈퍼 강남 논현점,1.926168
3407075,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2014-11-25,2023-01-02,37.509591,127.059274,도심공항몰(CALT MALL),1.577309
3407076,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,2016-12-29,2023-01-02,37.514543,127.063685,노브랜드 삼성점,2.213015

In [27]:
df.groupby(['도로명주소_x'])['대규모점포 개수'].count()

도로명주소_x
서울특별시 강남구               33114
서울특별시 강남구 강남대로 240       2000
서울특별시 강남구 강남대로 256       1920
서울특별시 강남구 강남대로 272        497
서울특별시 강남구 강남대로 324       1493
                        ...
서울특별시 강남구 헌릉로590길 88     3101
서울특별시 강남구 헌릉로618길         548
서울특별시 강남구 헌릉로622길          90
서울특별시 강남구 헌릉로637길         406
서울특별시 강남구 헌릉로645길         204
Name: 대규모점포 개수, Length: 3729, dtype: int64

In [28]:
df.to_csv('강남구데이터+대규모점포거리')

In [23]:
def count_starbucks(series):
    return (series<=0.4).sum()
    
  

df_groupby = df.groupby(['도로명주소_x'])['대규모점포 개수'].agg(count_starbucks)

In [31]:
df_groupby = pd.DataFrame(df_groupby)
df_groupby.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3729 entries, 서울특별시 강남구   to 서울특별시 강남구 헌릉로645길
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   대규모점포 개수  3729 non-null   int64
dtypes: int64(1)
memory usage: 58.3+ KB

In [ ]:
(df_main['도로명주소']==df_groupby['도로명주소']).all()

In [45]:
(df_groupby['대규모점포 개수'] == 20).sum()

14

In [51]:
# 최종 필터링된 아이 이아이를 원본데이터프레임에 합하는 것.
df_groupby

                      대규모점포 개수
도로명주소_x
서울특별시 강남구                    0
서울특별시 강남구 강남대로 240           0
서울특별시 강남구 강남대로 256           0
서울특별시 강남구 강남대로 272           0
서울특별시 강남구 강남대로 324          52
...                        ...
서울특별시 강남구 헌릉로590길 88         0
서울특별시 강남구 헌릉로618길            0
서울특별시 강남구 헌릉로622길            0
서울특별시 강남구 헌릉로637길            0
서울특별시 강남구 헌릉로645길            0

[3729 rows x 1 columns]

In [52]:
merged_df = pd.merge(df_main, df_groupby, on='도로명주소', how='inner')

KeyError: '도로명주소'