In [1]:
import pandas as pd

df_main = pd.read_csv('강남구전세데이터+스타벅스지점수+미쉐린지점수.csv', encoding='utf-8')
df_main

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,스타벅스 거리,미쉐린 거리
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0,0
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725,0,0
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0,0
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0,0
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,NaN,NaN,2019-07-22,강남구,19,37.501439,127.054330,0,1
87357,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,NaN,NaN,2019-06-21,강남구,18,37.525283,127.047239,1,9
87358,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,NaN,NaN,2019-07-20,강남구,9,37.522821,127.039963,0,22
87359,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,NaN,NaN,2020-09-08,강남구,3,37.478097,127.045854,0,0
87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,1,2

In [5]:
(df_main['스타벅스 거리']==0).sum()

75824

In [7]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구        87361 non-null  object
 1   전월세구분      87361 non-null  object
 2   보증금(만원)    87361 non-null  int64
 3   건축년도       87361 non-null  int64
 4   구분         87361 non-null  object
 5   전용면적(㎡)    87361 non-null  float64
 6   층          87361 non-null  float64
 7   도로명주소      87361 non-null  object
 8   계약시작       25069 non-null  object
 9   계약종료       25069 non-null  object
 10  계약년월일      87361 non-null  object
 11  구          87361 non-null  object
 12  건축나이       87361 non-null  int64
 13  Latitude   87361 non-null  float64
 14  Longitude  87361 non-null  float64
 15  스타벅스 거리    87361 non-null  int64
 16  미쉐린 거리     87361 non-null  int64
dtypes: float64(4), int64(5), object(8)
memory usage: 11.3+ MB

In [13]:
df_store = pd.read_csv('맥도날드.csv', encoding='utf-8')
df_store = df_store.drop(columns=['맥날 인허가일자','맥날 폐업일자','강남구 맥도날드'])
df_store

             맥도날드 도로명주소    맥도날드 위도     맥도날드 경도
0     서울특별시 강남구 도곡로 409  37.497382  127.055170
1    서울특별시 강남구 테헤란로 326  37.503531  127.047052
2    서울특별시 강남구 봉은사로 432  37.510880  127.047358
3    서울특별시 강남구 영동대로 513  37.512521  127.058819
4   서울특별시 강남구 삼성로92길 29  37.508324  127.058789
5    서울특별시 강남구 도산대로 407  37.523741  127.040304
6     서울특별시 강남구 논현로 848  37.524583  127.028828
7     서울특별시 강남구 논현로 667  37.513655  127.030490
8    서울특별시 강남구 도산대로 123  37.517476  127.021878
9     서울특별시 강남구 선릉로 667  37.516267  127.041336
10   서울특별시 강남구 테헤란로 107  37.498708  127.028660
11    서울특별시 강남구 삼성로 151  37.492126  127.062565
12    서울특별시 강남구 논현로 419  37.497604  127.038053

In [19]:
df = pd.merge(df_main, df_store, how='cross')

In [21]:
df.reset_index()

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,...,계약년월일,구,건축나이,Latitude,Longitude,스타벅스 거리,미쉐린 거리,맥도날드 도로명주소,맥도날드 위도,맥도날드 경도
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,2022-06-01,강남구,34,37.473722,127.052725,0,0,서울특별시 강남구 도곡로 409,37.497382,127.055170
1,1,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,2022-06-01,강남구,34,37.473722,127.052725,0,0,서울특별시 강남구 테헤란로 326,37.503531,127.047052
2,2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,2022-06-01,강남구,34,37.473722,127.052725,0,0,서울특별시 강남구 봉은사로 432,37.510880,127.047358
3,3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,2022-06-01,강남구,34,37.473722,127.052725,0,0,서울특별시 강남구 영동대로 513,37.512521,127.058819
4,4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,2022-06-01,강남구,34,37.473722,127.052725,0,0,서울특별시 강남구 삼성로92길 29,37.508324,127.058789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135688,1135688,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,2020-11-25,강남구,20,37.502156,127.044070,1,2,서울특별시 강남구 도산대로 123,37.517476,127.021878
1135689,1135689,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,2020-11-25,강남구,20,37.502156,127.044070,1,2,서울특별시 강남구 선릉로 667,37.516267,127.041336
1135690,1135690,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,2020-11-25,강남구,20,37.502156,127.044070,1,2,서울특별시 강남구 테헤란로 107,37.498708,127.028660
1135691,1135691,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,2020-11-25,강남구,20,37.502156,127.044070,1,2,서울특별시 강남구 삼성로 151,37.492126,127.062565
1135692,1135692,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,2020-11-25,강남구,20,37.502156,127.044070,1,2,서울특별시 강남구 논현로 419,37.497604,127.038053

In [15]:
pip install geopy

Requirement already satisfied: geopy in /Users/haneul/anaconda3/lib/python3.10/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
from geopy.distance import geodesic

In [6]:
from tqdm import tqdm
def calculate_distance(row):
    try:
        return geodesic((row['Latitude'], row['Longitude']), (row['맥도날드 위도'], row['맥도날드 경도'])).kilometers
    except (ValueError, TypeError):
        return None

tqdm.pandas()
df['미쉐린 거리'] = df.progress_apply(calculate_distance, axis=1)

100%|██████████████████████████████| 6027909/6027909 [08:05<00:00, 12411.83it/s]

In [7]:
df['미쉐린 거리'] = df['미쉐린 거리'].apply(lambda x: round(x, 2))

In [8]:
df.to_csv('강남구전세루트데이터+미쉐린거리.csv', index=False, encoding='utf-8')

In [9]:
df = df.reset_index(drop=False)
df

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,...,구,건축나이,Latitude,Longitude,스타벅스 거리,강남구 미쉐린,미쉐린 도로명주소,미쉐린 위도,미쉐린 경도,미쉐린 거리
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,강남구,34,37.473722,127.052725,0,쿠시카와,서울특별시 강남구 논현로 24길 37,37.482785,127.045629,1.19
1,1,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,강남구,34,37.473722,127.052725,0,에빗,서울특별시 강남구 도곡로 23길 33,37.494428,127.038682,2.61
2,2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,강남구,34,37.473722,127.052725,0,피양콩 할마니,서울특별시 강남구 삼성로 81길 30,37.504129,127.055237,3.38
3,3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,강남구,34,37.473722,127.052725,0,보름쇠,서울특별시 강남구 테헤란로 81길 36,37.509297,127.056550,3.96
4,4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,강남구,34,37.473722,127.052725,0,팀호완,서울특별시 강남구 봉은사로 86길 30,37.511413,127.056780,4.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6027904,6027904,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,강남구,20,37.502156,127.044070,1,스시 마이,서울특별시 강남구 언주로 168길 6,37.526406,127.033959,2.84
6027905,6027905,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,강남구,20,37.502156,127.044070,1,하네,서울특별시 강남구 언주로 172길 14,37.527634,127.034890,2.94
6027906,6027906,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,강남구,20,37.502156,127.044070,1,미미 면가,서울특별시 강남구 강남대로 160길 29,37.520087,127.021096,2.84
6027907,6027907,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,강남구,20,37.502156,127.044070,1,스와니예,서울특별시 강남구 강남대로 652,37.519457,127.019119,2.92
6027908,6027908,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,강남구,20,37.502156,127.044070,1,르오뇽,서울특별시 강남구 압구정로 4길 13-4,37.521777,127.020532,3.01

In [10]:
df.groupby(['도로명주소'])['미쉐린 거리'].count()

도로명주소
서울특별시 강남구               79695
서울특별시 강남구 강남대로 240       4830
서울특별시 강남구 강남대로 256       4623
서울특별시 강남구 강남대로 272       1173
서울특별시 강남구 강남대로 324       3588
                        ...
서울특별시 강남구 헌릉로590길 88     7521
서울특별시 강남구 헌릉로618길        1311
서울특별시 강남구 헌릉로622길         207
서울특별시 강남구 헌릉로637길         966
서울특별시 강남구 헌릉로645길         483
Name: 미쉐린 거리, Length: 3729, dtype: int64

In [11]:
def count_starbucks(series):
    return (series<=0.4).sum()
    
  

df_groupby = df.groupby(['도로명주소'])['미쉐린 거리'].agg(count_starbucks)

In [12]:
df_groupby = pd.DataFrame(df_groupby)
df_groupby

                      미쉐린 거리
도로명주소
서울특별시 강남구                  0
서울특별시 강남구 강남대로 240         0
서울특별시 강남구 강남대로 256         0
서울특별시 강남구 강남대로 272         0
서울특별시 강남구 강남대로 324         0
...                      ...
서울특별시 강남구 헌릉로590길 88       0
서울특별시 강남구 헌릉로618길          0
서울특별시 강남구 헌릉로622길          0
서울특별시 강남구 헌릉로637길          0
서울특별시 강남구 헌릉로645길          0

[3729 rows x 1 columns]

In [13]:
(df_groupby['미쉐린 거리'] == 0).sum()

2183

In [16]:
merged_df = pd.merge(df_main, df_groupby, on='도로명주소', how='inner')

In [18]:
merged_df

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,스타벅스 거리,미쉐린 거리
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0,0
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725,0,0
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0,0
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0,0
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,NaN,NaN,2019-07-22,강남구,19,37.501439,127.054330,0,1
87357,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,NaN,NaN,2019-06-21,강남구,18,37.525283,127.047239,1,9
87358,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,NaN,NaN,2019-07-20,강남구,9,37.522821,127.039963,0,22
87359,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,NaN,NaN,2020-09-08,강남구,3,37.478097,127.045854,0,0
87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,1,2

In [22]:
(merged_df['미쉐린 거리'] == 0).sum()

65857

In [34]:
(merged_df['미쉐린 거리']).

79.5061984180584

In [20]:
merged_df.to_csv('강남구전세데이터+스타벅스지점수+미쉐린지점수+맥날.csv',index=False, encoding='utf-8')