In [1]:
import pandas as pd

df_main = pd.read_csv('강남구전세(4차전처리).csv', encoding='utf-8')
df_main.head()

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725

In [2]:
df_main['계약년월일'] = pd.to_datetime(df_main['계약년월일'], format='%Y-%m-%d', errors='coerce')
df_main

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,NaN,NaN,2019-07-22,강남구,19,37.501439,127.054330
87357,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,NaN,NaN,2019-06-21,강남구,18,37.525283,127.047239
87358,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,NaN,NaN,2019-07-20,강남구,9,37.522821,127.039963
87359,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,NaN,NaN,2020-09-08,강남구,3,37.478097,127.045854
87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070

In [3]:
df_store = pd.read_csv('스타벅스 2.csv', encoding='utf-8')
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   스벅 인허가일자    95 non-null     object
 1   스벅 폐업일자     8 non-null      object
 2   강남구 스타벅스    95 non-null     object
 3   스타벅스 도로명주소  95 non-null     object
 4   스타벅스 위도     95 non-null     float64
 5   스타벅스 경도     95 non-null     float64
dtypes: float64(2), object(4)
memory usage: 4.6+ KB

In [4]:
df_store = df_store[df_store['스타벅스 도로명주소'].isnull()==False]
df_store

,스벅 인허가일자,스벅 폐업일자,강남구 스타벅스,스타벅스 도로명주소,스타벅스 위도,스타벅스 경도
0,2021-01-25,NaN,스타벅스 대치한티점,서울특별시 강남구 선릉로 324,37.498523,127.052101
1,2020-12-10,NaN,스타벅스 대치재경빌딩B1,서울특별시 강남구 남부순환로 2947,37.494525,127.062584
2,2020-09-22,NaN,스타벅스 대치삼성프라자점,서울특별시 강남구 영동대로 237,37.500403,127.066835
3,2019-02-12,NaN,스타벅스 대치재경빌딩R,서울특별시 강남구 남부순환로 2947,37.494525,127.062584
4,2018-03-21,NaN,스타벅스 선릉동신빌딩R점,서울특별시 강남구 테헤란로 409,37.505493,127.050430
...,...,...,...,...,...,...
90,2013-03-12,2020-11-09,스타벅스 삼성역점,서울특별시 강남구 테헤란로103길 9,37.510088,127.063876
91,2003-04-22,2021-04-02,스타벅스기술센터점,서울특별시 강남구 테헤란로 305,37.503298,127.043648
92,2006-05-24,2021-07-20,스타벅스수서점,서울특별시 강남구 밤고개로1길 10,37.488016,127.101849
93,2011-11-10,2022-11-10,스타벅스 차병원사거리,서울특별시 강남구 봉은사로 213,37.508044,127.035373
94,2009-12-10,2023-01-03,스타벅스 역삼역점,서울특별시 강남구 테헤란로 145,37.500800,127.035156

In [5]:
df_store['스벅 인허가일자'] = pd.to_datetime(df_store['스벅 인허가일자'], format='%Y-%m-%d', errors='coerce')
df_store['스벅 폐업일자'] = pd.to_datetime(df_store['스벅 폐업일자'], format='%Y-%m-%d', errors='coerce')
df_store

,스벅 인허가일자,스벅 폐업일자,강남구 스타벅스,스타벅스 도로명주소,스타벅스 위도,스타벅스 경도
0,2021-01-25,NaT,스타벅스 대치한티점,서울특별시 강남구 선릉로 324,37.498523,127.052101
1,2020-12-10,NaT,스타벅스 대치재경빌딩B1,서울특별시 강남구 남부순환로 2947,37.494525,127.062584
2,2020-09-22,NaT,스타벅스 대치삼성프라자점,서울특별시 강남구 영동대로 237,37.500403,127.066835
3,2019-02-12,NaT,스타벅스 대치재경빌딩R,서울특별시 강남구 남부순환로 2947,37.494525,127.062584
4,2018-03-21,NaT,스타벅스 선릉동신빌딩R점,서울특별시 강남구 테헤란로 409,37.505493,127.050430
...,...,...,...,...,...,...
90,2013-03-12,2020-11-09,스타벅스 삼성역점,서울특별시 강남구 테헤란로103길 9,37.510088,127.063876
91,2003-04-22,2021-04-02,스타벅스기술센터점,서울특별시 강남구 테헤란로 305,37.503298,127.043648
92,2006-05-24,2021-07-20,스타벅스수서점,서울특별시 강남구 밤고개로1길 10,37.488016,127.101849
93,2011-11-10,2022-11-10,스타벅스 차병원사거리,서울특별시 강남구 봉은사로 213,37.508044,127.035373
94,2009-12-10,2023-01-03,스타벅스 역삼역점,서울특별시 강남구 테헤란로 145,37.500800,127.035156

In [6]:
from typing import List, Union, Callable, Any, Optional

import numpy as np
import pandas as pd


ColumnarType = Union[str, List[str]]


def maybe_convert_to_list(something: Union[Any, List[Any]]) -> List[Any]:
    """
    Make a list of one element if argument is not a list.
    :param something:
        single value or list
    :return:
        non-empty list
    """
    return something if isinstance(something, list) else [something]


def non_equi_inner_join(
        left: pd.DataFrame,
        right: pd.DataFrame,
        non_equi_conditions: Union[Callable, List[Callable]],
        equi_on: Optional[Union[ColumnarType]] = None,
        equi_left_on: Optional[ColumnarType] = None,
        equi_right_on: Optional[ColumnarType] = None,
        n_partitioning_equi_keys: Optional[int] = None
        ) -> pd.DataFrame:
    """
    Join two `DataFrame`s by arbitrary conditions and,
    optionally, by exact match of some columns (this
    equi join part is regular merge from `pandas`).
    :param left:
        left `DataFrame`
    :param right:
        right `DataFrame`
    :param non_equi_conditions:
        functions such that their only argument is a `DataFrame`
        produced by join that ignores non-equi join part
        and result of each of them is a boolean mask that
        tells which rows satisfy corresponding non-equi join
        condition 
    :param equi_on:
        columns to be used for equi join part, this argument
        overrides `equi_left_on` and `equi_right_on`
    :param equi_left_on:
        columns of `left` to be used for equi join part
    :param equi_right_on:
        columns of `right` to be used for equi join part
    :param n_partitioning_equi_keys:
        number of equi join keys to be used for partitioning;
        the corresponding number of first keys is selected, so
        take this into consideration when ordering equi join keys;
        partitioning means that, instead of running equi join
        followed with filtering by non-equi conditions,
        both `DataFrame`s are split by some of equi join keys,
        then (equi_join+filtering) is run for each of the
        partitions and, finally, results are concatenated;
        the higher this argument, the slower execution can be,
        but also the less memory is taken in case of large
        enough `DataFrames`; default leads to usage of all
        equi join keys for partitioning
    :return:
        joined `DataFrame`
    Examples:
    >>> left = pd.DataFrame([[1, 2, 3],
    >>>                      [4, 5, 6],
    >>>                      [7, 8, 9]],
    >>>                     columns=['a', 'b', 'c'])
    >>> right = pd.DataFrame([[1, 2.5, -3],
    >>>                       [4, 7, -6],
    >>>                       [6, 8.5, -9]],
    >>>                      columns=['a', 'd', 'e'])
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']],
    >>>     equi_on='a'
    >>> )
        pd.DataFrame([[1, 2, 3, 2.5, -3]],
                     columns=['a', 'b', 'c', 'd', 'e'])
    
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']]
    >>> )
        pd.DataFrame([[1, 2, 3, 1, 2.5, -3],
                      [7, 8, 9, 6, 8.5, -9]],
                     columns=['a_x', 'b', 'c', 'a_y', 'd', 'e'])
    """
    # Validate and preprocess inputs.
    non_equi_conditions = maybe_convert_to_list(non_equi_conditions)
    if equi_on is not None:
        equi_left_on = maybe_convert_to_list(equi_on)
        equi_right_on = maybe_convert_to_list(equi_on)
    else:
        equi_left_on = maybe_convert_to_list(equi_left_on)
        equi_right_on = maybe_convert_to_list(equi_right_on)
    if equi_left_on[0] is None:
        if equi_right_on[0] is not None:
            raise ValueError('Left keys are set, right keys are not set.')
        equi_left_on = ['__dummy_key']
        equi_right_on = ['__dummy_key']
        left['__dummy_key'] = 0
        right['__dummy_key'] = 0
    if n_partitioning_equi_keys is None:
        n_partitioning_equi_keys = len(equi_left_on)
    elif n_partitioning_equi_keys > len(equi_left_on):
        raise ValueError(
            'Number of keys for partitioning exceeds number of equi join keys.'
        )

    # Use equi keys (if they are set) for optimizing memory consumption.
    if n_partitioning_equi_keys > 0:
        left_partition_keys = equi_left_on[:n_partitioning_equi_keys]
        right_partition_keys = equi_right_on[:n_partitioning_equi_keys]
        left_partitions = {
            idx: group
            for idx, group
            in left.groupby(left_partition_keys, as_index=False)
        }
        right_partitions = {
            idx: group
            for idx, group
            in right.groupby(right_partition_keys, as_index=False)
        }
    else:
        left_partitions = {None: left}
        right_partitions = {None: right}
    
    # Join DataFrames.
    join_results = []
    for idx, curr_left in left_partitions.items():
        curr_right = right_partitions.get(idx)
        if curr_right is None:
            continue
        curr_joined = pd.merge(
            curr_left,
            curr_right,
            left_on=equi_left_on,
            right_on=equi_right_on
        )
        conditions = [
            checking_fn(curr_joined) for checking_fn in non_equi_conditions
        ]
        curr_joined = curr_joined[np.logical_and.reduce(conditions)]
        join_results.append(curr_joined)
    if len(join_results) > 0:
        joined = pd.concat(join_results)
    else:
        joined = pd.DataFrame(columns=left.columns)
    tmp_columns = [x for x in joined.columns.tolist() if '__dummy_key' in x]
    joined.drop(tmp_columns, axis=1, inplace=True)
    return joined

In [7]:
df_main['계약년월일'] = pd.to_datetime(df_main['계약년월일'])
df_store['스벅 인허가일자'] = pd.to_datetime(df_store['스벅 인허가일자'])
df_store['스벅 폐업일자'] = pd.to_datetime(df_store['스벅 폐업일자'])

df = non_equi_inner_join(
    df_main,
    df_store,
    non_equi_conditions=[lambda x: x['계약년월일'] >= x['스벅 인허가일자'],
                         lambda x: x['계약년월일'] <= x['스벅 폐업일자']]
)

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_54024/1636090169.py:121: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  left_partitions = {
/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_54024/1636090169.py:126: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  right_partitions = {

In [8]:
df

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,...,구,건축나이,Latitude,Longitude,스벅 인허가일자,스벅 폐업일자,강남구 스타벅스,스타벅스 도로명주소,스타벅스 위도,스타벅스 경도
87,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,강남구,34,37.473722,127.052725,2011-07-08,2023-02-24,스타벅스청담공원점,서울특별시 강남구 학동로 506,37.518799,127.051394
88,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,강남구,34,37.473722,127.052725,2011-08-25,2023-02-24,스타벅스청담사거리,서울특별시 강남구 도산대로 523,37.524952,127.050634
93,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,강남구,34,37.473722,127.052725,2011-11-10,2022-11-10,스타벅스 차병원사거리,서울특별시 강남구 봉은사로 213,37.508044,127.035373
94,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,강남구,34,37.473722,127.052725,2009-12-10,2023-01-03,스타벅스 역삼역점,서울특별시 강남구 테헤란로 145,37.500800,127.035156
182,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,...,강남구,32,37.473722,127.052725,2011-07-08,2023-02-24,스타벅스청담공원점,서울특별시 강남구 학동로 506,37.518799,127.051394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299289,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,강남구,20,37.502156,127.044070,2010-05-11,2022-05-16,스타벅스 뱅뱅사거리점,서울특별시 강남구 강남대로 282,37.488563,127.032476
8299291,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,강남구,20,37.502156,127.044070,2003-04-22,2021-04-02,스타벅스기술센터점,서울특별시 강남구 테헤란로 305,37.503298,127.043648
8299292,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,강남구,20,37.502156,127.044070,2006-05-24,2021-07-20,스타벅스수서점,서울특별시 강남구 밤고개로1길 10,37.488016,127.101849
8299293,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,강남구,20,37.502156,127.044070,2011-11-10,2022-11-10,스타벅스 차병원사거리,서울특별시 강남구 봉은사로 213,37.508044,127.035373
8299294,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,강남구,20,37.502156,127.044070,2009-12-10,2023-01-03,스타벅스 역삼역점,서울특별시 강남구 테헤란로 145,37.500800,127.035156

In [9]:
(df['계약년월일']<=df['스벅 폐업일자']).all()

True

In [10]:
pip install geopy

Requirement already satisfied: geopy in /Users/haneul/anaconda3/lib/python3.10/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
from geopy.distance import geodesic

In [12]:
def calculate_distance(row):
    try:
        return geodesic((row['Latitude'], row['Longitude']), (row['스타벅스 위도'], row['스타벅스 경도'])).kilometers
    except (ValueError, TypeError):
        return None

df['스타벅스 거리'] = df.apply(calculate_distance, axis=1)

In [13]:
df['스타벅스 거리'] = df['스타벅스 거리'].apply(lambda x: round(x, 2))

In [14]:
df.to_csv('강남구전세루트데이터+스타벅스거리.csv', index=False, encoding='utf-8')

In [15]:
df = df.reset_index(drop=False)
df

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,...,건축나이,Latitude,Longitude,스벅 인허가일자,스벅 폐업일자,강남구 스타벅스,스타벅스 도로명주소,스타벅스 위도,스타벅스 경도,스타벅스 거리
0,87,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2011-07-08,2023-02-24,스타벅스청담공원점,서울특별시 강남구 학동로 506,37.518799,127.051394,5.00
1,88,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2011-08-25,2023-02-24,스타벅스청담사거리,서울특별시 강남구 도산대로 523,37.524952,127.050634,5.69
2,93,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2011-11-10,2022-11-10,스타벅스 차병원사거리,서울특별시 강남구 봉은사로 213,37.508044,127.035373,4.11
3,94,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2009-12-10,2023-01-03,스타벅스 역삼역점,서울특별시 강남구 테헤란로 145,37.500800,127.035156,3.38
4,182,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,...,32,37.473722,127.052725,2011-07-08,2023-02-24,스타벅스청담공원점,서울특별시 강남구 학동로 506,37.518799,127.051394,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585435,8299289,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,2010-05-11,2022-05-16,스타벅스 뱅뱅사거리점,서울특별시 강남구 강남대로 282,37.488563,127.032476,1.82
585436,8299291,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,2003-04-22,2021-04-02,스타벅스기술센터점,서울특별시 강남구 테헤란로 305,37.503298,127.043648,0.13
585437,8299292,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,2006-05-24,2021-07-20,스타벅스수서점,서울특별시 강남구 밤고개로1길 10,37.488016,127.101849,5.34
585438,8299293,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,2011-11-10,2022-11-10,스타벅스 차병원사거리,서울특별시 강남구 봉은사로 213,37.508044,127.035373,1.01
585439,8299294,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,2009-12-10,2023-01-03,스타벅스 역삼역점,서울특별시 강남구 테헤란로 145,37.500800,127.035156,0.80

In [17]:
df.groupby(['도로명주소'])['스타벅스 거리'].count()

도로명주소
서울특별시 강남구               7775
서울특별시 강남구 강남대로 240       488
서울특별시 강남구 강남대로 256       447
서울특별시 강남구 강남대로 272       130
서울특별시 강남구 강남대로 324       351
                        ...
서울특별시 강남구 헌릉로590길 88     649
서울특별시 강남구 헌릉로618길        150
서울특별시 강남구 헌릉로622길         24
서울특별시 강남구 헌릉로637길         88
서울특별시 강남구 헌릉로645길         50
Name: 스타벅스 거리, Length: 3729, dtype: int64

In [19]:
def count_starbucks(series):
    return (series<=0.4).sum()
    
  

df_groupby = df.groupby(['도로명주소'])['스타벅스 거리'].agg(count_starbucks)

In [20]:
df_groupby = pd.DataFrame(df_groupby)
df_groupby

                      스타벅스 거리
도로명주소
서울특별시 강남구                   0
서울특별시 강남구 강남대로 240         65
서울특별시 강남구 강남대로 256         56
서울특별시 강남구 강남대로 272         16
서울특별시 강남구 강남대로 324          0
...                       ...
서울특별시 강남구 헌릉로590길 88        0
서울특별시 강남구 헌릉로618길           0
서울특별시 강남구 헌릉로622길           0
서울특별시 강남구 헌릉로637길           0
서울특별시 강남구 헌릉로645길           0

[3729 rows x 1 columns]

In [21]:
(df_groupby['스타벅스 거리'] == 0).sum()

3171

In [24]:
merged_df = df_main.merge(df_groupby, on='도로명주소', how='inner')

In [30]:
merged_df.to_csv('강남구전세데이터 + 스타벅스지점수.csv',index=False, encoding='utf-8')