In [1]:
# 경고 끄기
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
xgb.set_config(verbosity=0)

In [2]:
import pandas as pd

pop_data = pd.read_csv('인구밀도.csv', encoding='utf-8')
pop_data

,동별(1),동별(2),동별(3),2015,2015.1,2015.2,2016,2016.1,2016.2,2017,...,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
0,동별(1),동별(2),동별(3),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),...,인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢)
1,합계,강남구,소계,581760,39.50,14728,572140,39.50,14484,561052,...,13929,544055,39.50,13773,537800,39.50,13616,534103,39.50,13522
2,합계,강남구,신사동,18570,1.89,9825,18349,1.89,9708,18105,...,9284,16914,1.89,8949,16213,1.89,8578,15876,1.89,8400
3,합계,강남구,개포3동,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,17382,1.24,14018
4,합계,강남구,논현1동,25307,1.25,20246,24867,1.25,19894,24186,...,19034,23734,1.25,18987,22702,1.25,18162,22080,1.25,17664
5,합계,강남구,논현2동,23082,1.47,15702,22639,1.47,15401,22573,...,14901,21997,1.47,14964,21331,1.47,14511,20814,1.47,14159
6,합계,강남구,삼성1동,15531,1.94,8006,15357,1.94,7916,15193,...,7691,13600,1.94,7010,13136,1.94,6771,12739,1.94,6566
7,합계,강남구,삼성2동,31343,1.24,25277,30999,1.24,24999,29628,...,24737,30368,1.24,24490,30692,1.24,24752,31062,1.24,25050
8,합계,강남구,대치1동,23283,0.79,29472,24834,0.79,31435,25262,...,32028,24922,0.79,31547,24199,0.79,30632,23846,0.79,30185
9,합계,강남구,대치4동,21630,0.73,29630,21292,0.73,29167,21193,...,28523,20744,0.73,28416,20079,0.73,27505,19491,0.73,26700
10,합계,강남구,역삼1동,36450,2.35,15511,36305,2.35,15449,36534,...,15746,36771,2.35,15647,36590,2.35,15570,35556,2.35,15130
11,합계,강남구,역삼2동,36314,1.15,31577,37047,1.15,32215,37103,...,32466,37291,1.15,32427,36378,1.15,31633,37269,1.15,32408
12,합계,강남구,도곡1동,22693,1.02,22248,23057,1.02,22605,22882,...,22182,22227,1.02,21791,21539,1.02,21117,21274,1.02,20857
13,합계,강남구,도곡2동,35307,1.02,34615,34934,1.02,34249,34884,...,33762,34042,1.02,33375,33261,1.02,32609,32846,1.02,32202
14,합계,강남구,개포1동,21700,1.27,17087,21162,1.27,16663,20111,...,5449,6670,1.27,5252,6489,1.27,5109,6922,1.27,5450
15,합계,강남구,개포4동,22135,1.49,14856,18550,1.49,12450,18525,...,12352,22765,1.49,15279,23870,1.49,16020,23639,1.49,15865
16,합계,강남구,일원본동,25350,2.58,9826,25104,2.58,9730,25027,...,9457,23945,2.58,9281,23291,2.58,9028,23015,2.58,8921
17,합계,강남구,일원1동,17627,0.92,19160,17275,0.92,18777,17108,...,17867,15827,0.92,17203,15214,0.92,16537,14987,0.92,16290
18,합계,강남구,일원2동,16621,1.24,13404,16520,1.24,13323,16467,...,14645,17709,1.24,14281,17585,1.24,14181,-,-,-
19,합계,강남구,수서동,15732,1.43,11001,16708,1.43,11684,16787,...,11143,15299,1.43,10699,14870,1.43,10399,14402,1.43,10071
20,합계,강남구,세곡동,43302,6.36,6808,44344,6.36,6972,44921,...,7086,44475,6.36,6993,43396,6.36,6823,43382,6.36,6821
21,합계,강남구,압구정동,28735,2.53,11358,28360,2.53,11209,28050,...,10953,27440,2.53,10846,26446,2.53,10453,25902,2.53,10238
22,합계,강남구,청담동,31129,2.33,13360,30623,2.33,13143,30269,...,12927,27266,2.33,11702,25911,2.33,11121,25489,2.33,10939
23,합계,강남구,대치2동,42565,2.00,21283,42068,2.00,21034,41566,...,19324,37752,2.00,18876,36663,2.00,18332,37098,2.00,18549

In [6]:
pop_data.head()

,동별(1),동별(2),동별(3),2015,2015.1,2015.2,2016,2016.1,2016.2,2017,...,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
0,동별(1),동별(2),동별(3),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),...,인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢)
1,합계,강남구,소계,581760,39.50,14728,572140,39.50,14484,561052,...,13929,544055,39.50,13773,537800,39.50,13616,534103,39.50,13522
2,합계,강남구,신사동,18570,1.89,9825,18349,1.89,9708,18105,...,9284,16914,1.89,8949,16213,1.89,8578,15876,1.89,8400
3,합계,강남구,개포3동,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,17382,1.24,14018
4,합계,강남구,논현1동,25307,1.25,20246,24867,1.25,19894,24186,...,19034,23734,1.25,18987,22702,1.25,18162,22080,1.25,17664

In [7]:
pop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별(1)   24 non-null     object
 1   동별(2)   24 non-null     object
 2   동별(3)   24 non-null     object
 3   2015    24 non-null     object
 4   2015.1  24 non-null     object
 5   2015.2  24 non-null     object
 6   2016    24 non-null     object
 7   2016.1  24 non-null     object
 8   2016.2  24 non-null     object
 9   2017    24 non-null     object
 10  2017.1  24 non-null     object
 11  2017.2  24 non-null     object
 12  2018    24 non-null     object
 13  2018.1  24 non-null     object
 14  2018.2  24 non-null     object
 15  2019    24 non-null     object
 16  2019.1  24 non-null     object
 17  2019.2  24 non-null     object
 18  2020    24 non-null     object
 19  2020.1  24 non-null     object
 20  2020.2  24 non-null     object
 21  2021    24 non-null     object
 22  2021.1  24 non-null     object
 23  2021.2  24 non-null     object
 24  2022    24 non-null     object
 25  2022.1  24 non-null     object
 26  2022.2  24 non-null     object
dtypes: object(27)
memory usage: 5.2+ KB

In [8]:
pop_data.describe()

,동별(1),동별(2),동별(3),2015,2015.1,2015.2,2016,2016.1,2016.2,2017,...,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
count,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24
unique,2,2,24,24,22,24,24,22,24,24,...,24,24,22,24,24,22,24,24,22,24
top,합계,강남구,동별(3),인구 (명),1.02,인구밀도 (명/㎢),인구 (명),1.02,인구밀도 (명/㎢),인구 (명),...,인구밀도 (명/㎢),인구 (명),1.02,인구밀도 (명/㎢),인구 (명),1.02,인구밀도 (명/㎢),인구 (명),1.02,인구밀도 (명/㎢)
freq,23,23,1,1,2,1,1,2,1,1,...,1,1,2,1,1,2,1,1,2,1

In [14]:
import pandas as pd

# CSV 파일을 DataFrame으로 읽어오기
pop_data = pd.read_csv('인구밀도.csv', encoding='utf-8')

# 숫자 데이터 열만 선택하여 데이터프레임 구성
numeric_columns = pop_data.columns[3:]
pop_data[numeric_columns] = pop_data[numeric_columns].apply(pd.to_numeric, errors='coerce')

# 동별 인구수와 인구밀도를 년도별로 정리
result_data = pd.DataFrame()

for year in range(2015, 2023):
    year_columns = [f'{year}']
    year_data = pop_data[['동별(3)'] + year_columns].copy()
    year_data.rename(columns={f'{year}': '인구수'}, inplace=True)
    result_data[f'{year}년 인구수'] = year_data.groupby('동별(3)').sum()['인구수']

for year in range(2015, 2023):
    year_columns = [f'{year}.{i}' for i in range(1, 3)]
    year_data = pop_data[['동별(3)'] + year_columns].copy()
    year_data.rename(columns={f'{year}.1': '인구밀도'}, inplace=True)
    result_data[f'{year}년 인구밀도'] = year_data.groupby('동별(3)').sum()['인구밀도']

# 결과 출력
result_data

,2015년 인구수,2016년 인구수,2017년 인구수,2018년 인구수,2019년 인구수,2020년 인구수,2021년 인구수,2022년 인구수,2015년 인구밀도,2016년 인구밀도,2017년 인구밀도,2018년 인구밀도,2019년 인구밀도,2020년 인구밀도,2021년 인구밀도,2022년 인구밀도
동별(3),,,,,,,,,,,,,,,,
개포1동,21700.0,21162.0,20111.0,7800.0,6920.0,6670.0,6489.0,6922.0,1.27,1.27,1.27,1.27,1.27,1.27,1.27,1.27
개포3동,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17382.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.24
개포4동,22135.0,18550.0,18525.0,18920.0,18405.0,22765.0,23870.0,23639.0,1.49,1.49,1.49,1.49,1.49,1.49,1.49,1.49
논현1동,25307.0,24867.0,24186.0,24061.0,23792.0,23734.0,22702.0,22080.0,1.25,1.25,1.25,1.25,1.25,1.25,1.25,1.25
논현2동,23082.0,22639.0,22573.0,22304.0,21904.0,21997.0,21331.0,20814.0,1.47,1.47,1.47,1.47,1.47,1.47,1.47,1.47
대치1동,23283.0,24834.0,25262.0,25590.0,25302.0,24922.0,24199.0,23846.0,0.79,0.79,0.79,0.79,0.79,0.79,0.79,0.79
대치2동,42565.0,42068.0,41566.0,40163.0,38647.0,37752.0,36663.0,37098.0,2.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00
대치4동,21630.0,21292.0,21193.0,21265.0,20822.0,20744.0,20079.0,19491.0,0.73,0.73,0.73,0.73,0.73,0.73,0.73,0.73
도곡1동,22693.0,23057.0,22882.0,22844.0,22626.0,22227.0,21539.0,21274.0,1.02,1.02,1.02,1.02,1.02,1.02,1.02,1.02
도곡2동,35307.0,34934.0,34884.0,34704.0,34437.0,34042.0,33261.0,32846.0,1.02,1.02,1.02,1.02,1.02,1.02,1.02,1.02
동별(3),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
삼성1동,15531.0,15357.0,15193.0,15252.0,14920.0,13600.0,13136.0,12739.0,1.94,1.94,1.94,1.94,1.94,1.94,1.94,1.94
삼성2동,31343.0,30999.0,29628.0,30492.0,30674.0,30368.0,30692.0,31062.0,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24
세곡동,43302.0,44344.0,44921.0,45445.0,45064.0,44475.0,43396.0,43382.0,6.36,6.36,6.36,6.36,6.36,6.36,6.36,6.36
소계,581760.0,572140.0,561052.0,547453.0,550209.0,544055.0,537800.0,534103.0,39.50,39.50,39.50,39.50,39.50,39.50,39.50,39.50
수서동,15732.0,16708.0,16787.0,16421.0,15934.0,15299.0,14870.0,14402.0,1.43,1.43,1.43,1.43,1.43,1.43,1.43,1.43
신사동,18570.0,18349.0,18105.0,17813.0,17546.0,16914.0,16213.0,15876.0,1.89,1.89,1.89,1.89,1.89,1.89,1.89,1.89
압구정동,28735.0,28360.0,28050.0,28146.0,27712.0,27440.0,26446.0,25902.0,2.53,2.53,2.53,2.53,2.53,2.53,2.53,2.53
역삼1동,36450.0,36305.0,36534.0,36861.0,37002.0,36771.0,36590.0,35556.0,2.35,2.35,2.35,2.35,2.35,2.35,2.35,2.35
역삼2동,36314.0,37047.0,37103.0,36822.0,37336.0,37291.0,36378.0,37269.0,1.15,1.15,1.15,1.15,1.15,1.15,1.15,1.15
일원1동,17627.0,17275.0,17108.0,17136.0,16438.0,15827.0,15214.0,14987.0,0.92,0.92,0.92,0.92,0.92,0.92,0.92,0.92
일원2동,16621.0,16520.0,16467.0,16593.0,18160.0,17709.0,17585.0,0.0,1.24,1.24,1.24,1.24,1.24,1.24,1.24,0.00
일원본동,25350.0,25104.0,25027.0,24781.0,24399.0,23945.0,23291.0,23015.0,2.58,2.58,2.58,2.58,2.58,2.58,2.58,2.58
청담동,31129.0,30623.0,30269.0,30185.0,30120.0,27266.0,25911.0,25489.0,2.33,2.33,2.33,2.33,2.33,2.33,2.33,2.33

In [16]:
result_data.to_csv('인구 분포.csv', index=True)