# Pandas

# csv파일 불러오기/저장하기

In [ ]:
import pandas as pd

# 불러오기
df = pd.read_csv('파일이름.csv', encoding='utf-8')
df = pd.read_csv('파일이름.csv', encoding='cp949')

# 저장하기
df.to_csv('파일이름.csv', encoding='utf-8')

# 데이터 정보

In [ ]:
df.info()
df.describe()

# 기술통계

In [ ]:
# 평균
Series.mean()

# 중앙값
Series.median()

# 분위수
Series.quantile(p)
# p=0.25인 경우 오름차순으로 정렬 시 하위 25%에 해당하는 값을 의미함
# p=0.5는 중앙값을 의미한다.

# 분산
Series.var()

# 표준편차
Series.std()

# 최빈값
Series.mode()

# 개수
Series.count()

# 데이터 병합

In [ ]:
# join
pd.merge(df1, df2, on='공통컬럼', how='inner/left/right/outer/cross')

# 그냥 붙이기
pd.concat(['df1','df2'], axis)
# axis = 0 : 세로로 붙이기
# axis = 1 : 가로로 붙이기

# apply 함수

In [ ]:
# 데이터프레임에 apply함수를 적용하는 경우 전달되는 변수 확인
df.apply(lambda x:print(x))

# 결과 : 각 컬럼 Series가 변수로 전달된다.

In [ ]:
# 데이터프레임에 apply함수를 적용하는 경우 전달되는 변수 확인
df.apply(lambda x:print(x), axis=1)

# 결과 : 각 행이 Series형태로 전달된다.

In [ ]:
# Series에 apply함수를 적용하는 경우 전달되는 변수 확인
df['컬럼이름'].apply(lambda x:print(x))

# 결과 : 해당 Series의 원소가 차례대로 전달된다.

# 중복 확인 / 중복 삭제

In [ ]:
# 중복 확인
df.duplicated()

# 중복 삭제
df.drop_duplicates()

# Series도 사용가능

# 문자 포함 여부

In [ ]:
# Series에서 원소마다 '강남구'를 포함하면 True 아니면 False 반환

Series.str.contains('강남구')

# 문자열에서 문자 바꾸기

In [ ]:
Series.str.replace('대체될문자','대체할문자')

# ','를 공백으로 바꾸기
Series.str.replace(',',' ')

# 문자 기준으로 리스트로 분리하기

In [ ]:
# 실제 프로젝트 활용 예시
# 전처리단계에서 사용
# 계약기간컬럼 데이터 '202206 ~ 202406'
df['계약기간'].str.split('~')[0] # 202206 반환
df['계약기간'].str.split('~')[1] # 202406 반환

# 이름바꾸기

In [7]:
# 주로 컬럼이름을 바꾸는 용도로 사용

df.rename(columns={'변경전':'변경후'})

# unique값

In [ ]:
Series.unique()

# unique한 데이터의 개수
Series.nunique()

# unique값들의 개수

In [ ]:
Series.value_counts()

# 결측값 확인, 대체 및 삭제

In [ ]:
df['컬럼이름'].isnull()
df['컬럼이름'].fillna(대체할값)
df['컬럼이름'].dropna()

# 적용방식
df.isnull().sum()
# 결측값 확인 방식

# 정렬

In [ ]:
# 오름차순
df.sort_values('정렬기준컬럼이름', ascending=True)

# reset_index

In [ ]:
df.reset_index(drop=True)

# 날짜 생성

In [ ]:
# 금리 데이터를 루트데이터에 통합시킬때 non-equi join을 사용하기 위해 사용함
df_interest['금리년월일끝'] = pd.date_range('2018/1/1', periods=len(df_interest), freq='M')

# 날짜타입으로 변환

In [ ]:
pd.to_datetime(df['변환할컬럼이름'], format='%Y/%m/%d', errors='coerce')

# 날짜타입에서 년, 월, 일 뽑아내기

In [ ]:
# 연도 뽑아내기
df['계약년월일'].dt.year
# 월 뽑아내기
df['계약년월일'].dt.month
# 일 뽑아내기
df['계약년월일'].dt.day

# datetime type 표기 형식 변환
# 분기로 표시
df['계약년월일'].dt.to_period('Q')
# 결과 : 2022Q2, 2022Q4, ...

# 월로 표시
df['계약년월일'].dt.to_period('M')
# 결과 : 202201, 202202, ...
# to_period를 사용하지 않으면 일까지 표시된다

# 숫자타입으로 변환

In [ ]:
pd.to_numeric(df['변환할컬럼이름'])

# 컬럼삭제

In [ ]:
df.drop('컬럼이름', axis)
# axis=1 컬럼 삭제
# axis=0 행 삭제

# all / any

In [ ]:
# 모두 True면 True 반환
# 주로 두 컬럼이 같은지 확인할 때 사용했음
Series.all()
# 하나라도 True면 True 반환
Series.any()

# DataFrame도 사용가능

# groupby

In [ ]:
# 기본사용
df.groupby(['컬럼이름1'])['컬럼이름2'].sum()

# agg / apply
# 함수에 전달되는 변수 확인
df.groupby(['컬럼이름1'])['컬럼이름2'].agg(lambda x : print(x))
# 결과 : groupby된 '컬럼이름2'이 Series로 순서대로 전달된다.

# 적용
def count_subway(series):
    return (series<=0.5).sum()

df_groupby = df.groupby(['index','도로명주소'])['Distance_to_station'].agg(count_subway)

In [38]:
# apply
# 함수에 전달되는 변수 확인
df.groupby(['컬럼이름']).apply(lambda x : print(x))
# 결과 : groupby된 데이터프레임이 전달된다.

# agg
# 함수에 전달되는 변수 확인
df.groupby(['컬럼이름']).agg(lambda x : print(x))
# 결과 : 모든 컬럼이 groupby된 Series 상태로 전달된다.

In [ ]:
# groupby로 묶어만 놓고 사용할 수 있다.
pd.DataFrame(df.groupby(['컬럼이름']))
# 설명하기 어려우니 실제 데이터로 한 번 실행해보자!

# 전처리

In [ ]:
# 괄호 없애는 함수
# 주로 도로명 주소 전처리할 때 많이 사용했음
# 괄호가 없는 도로명 주소에서도 전처리가 필요한 데이터가 있었다.
# 함수를 적용하기 전에 따로 확인할 필요가 있다.

def address_preprocessing(address):
    if address.find('(') != -1:
        index = address.find('(')
        return address[:index]
    return address

# 적용하는 방법
df['도로명주소'] = df['도로명주소'].apply(address_preprocessing)

In [ ]:
# 시, 구, 동 처럼 순서가 정해져 있는 컬럼을 전처리할 때 사용하는 함수
# 동만 뽑아내기
# 물론 함수를 적용하기 전에 띄어쓰기 모두 되어있는지 확인하는 것이 좋다.
def address_preprocessing(address):
    lists = address.split(' ')
    return lists[2]

# 시, 구 뽑아내기
def address_preprocessing(address):
    lists = address.split(' ')
    return ' '.join(address_parts[:2])

df['행정구'] = df['시군구'].apply(address_preprocessing)
df['행정구']

In [ ]:
# 정규표현식을 이용한 전처리함수
# 정규표현식 공부가 더 필요하다

def extract_gu_from_address(address):
    pattern = r'\s(\S+)'
    result = re.search(pattern, address)
    if result:
        return result.group(1)
    return None

# apply 메소드를 이용하여 '강남구'만 추출하여 새로운 칼럼 생성
df2['구'] = df2['도로명주소'].apply(extract_gu_from_address)

# tqdm

In [ ]:
tqdm.pandas()
# 진행상황, 남은시간등을 시각화해준다.
 
# 위경도간 거리를 구할 때, join을 사용할 때 많이 활용하였다.
tqdm.pandas()
df['미쉐린 거리'] = df.progress_apply(calculate_distance, axis=1)