In [1]:
import pandas as pd

df_main = pd.read_csv('./main/강남구전세(3차전처리).csv', encoding='utf-8')
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  87361 non-null  int64
 1   시군구         87361 non-null  object
 2   전월세구분       87361 non-null  object
 3   보증금(만원)     87361 non-null  int64
 4   건축년도        87361 non-null  int64
 5   구분          87361 non-null  object
 6   전용면적(㎡)     87361 non-null  float64
 7   층           87361 non-null  float64
 8   도로명주소       87361 non-null  object
 9   계약시작        25069 non-null  object
 10  계약종료        25069 non-null  object
 11  계약년월일       87361 non-null  object
 12  구           87361 non-null  object
 13  건축나이        87361 non-null  int64
dtypes: float64(2), int64(4), object(8)
memory usage: 9.3+ MB

In [2]:
df_coor = pd.read_csv('./main/경도위도값.csv', encoding='utf-8')
df_coor

      Unnamed: 0                 도로명주소   Latitude   Longitude
0              0       서울특별시 강남구 논현로4길  37.473722  127.052725
1              1      서울특별시 강남구 논현로10길  37.474587  127.049960
2              2      서울특별시 강남구 개포로20길  37.476862  127.048105
3              3      서울특별시 강남구 개포로15길  37.479661  127.045622
4              4       서울특별시 강남구 논현로6길  37.473422  127.051314
...          ...                   ...        ...         ...
3724        3724     서울특별시 강남구 역삼로 432  37.501439  127.054330
3725        3725    서울특별시 강남구 압구정로 461  37.525283  127.047239
3726        3726    서울특별시 강남구 도산대로 406  37.522821  127.039963
3727        3727   서울특별시 강남구 논현로20길 12  37.478097  127.045854
3728        3728  서울특별시 강남구 언주로 432-10  37.502156  127.044070

[3729 rows x 4 columns]

In [3]:
df_merge = pd.merge(df_main, df_coor, on='도로명주소', how='inner')
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86206 entries, 0 to 86205
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  86206 non-null  int64
 1   시군구           86206 non-null  object
 2   전월세구분         86206 non-null  object
 3   보증금(만원)       86206 non-null  int64
 4   건축년도          86206 non-null  int64
 5   구분            86206 non-null  object
 6   전용면적(㎡)       86206 non-null  float64
 7   층             86206 non-null  float64
 8   도로명주소         86206 non-null  object
 9   계약시작          24746 non-null  object
 10  계약종료          24746 non-null  object
 11  계약년월일         86206 non-null  object
 12  구             86206 non-null  object
 13  건축나이          86206 non-null  int64
 14  Unnamed: 0_y  86206 non-null  int64
 15  Latitude      86206 non-null  float64
 16  Longitude     86206 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 11.8+ MB

In [4]:
(df_main['도로명주소'].unique()==df_coor['도로명주소']).all()

False

In [5]:
df_coor[df_main['도로명주소'].unique()!=df_coor['도로명주소']]

     Unnamed: 0      도로명주소   Latitude  Longitude
364         364  서울특별시 강남구  37.496665  127.06298

In [6]:
df_main_unique = pd.DataFrame(df_main['도로명주소'].unique())

In [7]:
df_main_unique

                         0
0          서울특별시 강남구 논현로4길
1         서울특별시 강남구 논현로10길
2         서울특별시 강남구 개포로20길
3         서울특별시 강남구 개포로15길
4          서울특별시 강남구 논현로6길
...                    ...
3724     서울특별시 강남구 역삼로 432
3725    서울특별시 강남구 압구정로 461
3726    서울특별시 강남구 도산대로 406
3727   서울특별시 강남구 논현로20길 12
3728  서울특별시 강남구 언주로 432-10

[3729 rows x 1 columns]

In [8]:
df_main_unique[df_main['도로명주소'].unique()!=df_coor['도로명주소']]

               0
364  서울특별시 강남구

In [9]:
df_coor.loc[364,'도로명주소']

'서울특별시 강남구'

In [10]:
df_main_unique.loc[364,0]

'서울특별시 강남구  '

In [11]:
df_coor.loc[364,'도로명주소'] = df_main_unique.loc[364,0]

In [12]:
df_merge = pd.merge(df_main, df_coor, on='도로명주소', how='inner')
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87361 entries, 0 to 87360
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  87361 non-null  int64
 1   시군구           87361 non-null  object
 2   전월세구분         87361 non-null  object
 3   보증금(만원)       87361 non-null  int64
 4   건축년도          87361 non-null  int64
 5   구분            87361 non-null  object
 6   전용면적(㎡)       87361 non-null  float64
 7   층             87361 non-null  float64
 8   도로명주소         87361 non-null  object
 9   계약시작          25069 non-null  object
 10  계약종료          25069 non-null  object
 11  계약년월일         87361 non-null  object
 12  구             87361 non-null  object
 13  건축나이          87361 non-null  int64
 14  Unnamed: 0_y  87361 non-null  int64
 15  Latitude      87361 non-null  float64
 16  Longitude     87361 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 12.0+ MB

In [13]:
df_coor.to_csv('./main/경도위도값_수정.csv', index=False, encoding='utf-8')

In [14]:
df_merge

,Unnamed: 0_x,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Unnamed: 0_y,Latitude,Longitude
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,0,37.473722,127.052725
1,43,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,0,37.473722,127.052725
2,44,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,0,37.473722,127.052725
3,45,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,0,37.473722,127.052725
4,1705,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,0,37.473722,127.052725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,84329,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,NaN,NaN,2019-07-22,강남구,19,3724,37.501439,127.054330
87357,85733,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,NaN,NaN,2019-06-21,강남구,18,3725,37.525283,127.047239
87358,85744,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,NaN,NaN,2019-07-20,강남구,9,3726,37.522821,127.039963
87359,85747,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,NaN,NaN,2020-09-08,강남구,3,3727,37.478097,127.045854
87360,86905,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,3728,37.502156,127.044070

In [15]:
df_merge[['Unnamed: 0_x','도로명주소']].duplicated().sum()

0

In [16]:
(df_merge[['Unnamed: 0_y','도로명주소']].duplicated()==False).sum()

3729

In [17]:
df_merge.drop(['Unnamed: 0_x','Unnamed: 0_y'], axis=1, inplace=True)

In [18]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87361 entries, 0 to 87360
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구        87361 non-null  object
 1   전월세구분      87361 non-null  object
 2   보증금(만원)    87361 non-null  int64
 3   건축년도       87361 non-null  int64
 4   구분         87361 non-null  object
 5   전용면적(㎡)    87361 non-null  float64
 6   층          87361 non-null  float64
 7   도로명주소      87361 non-null  object
 8   계약시작       25069 non-null  object
 9   계약종료       25069 non-null  object
 10  계약년월일      87361 non-null  object
 11  구          87361 non-null  object
 12  건축나이       87361 non-null  int64
 13  Latitude   87361 non-null  float64
 14  Longitude  87361 non-null  float64
dtypes: float64(4), int64(3), object(8)
memory usage: 10.7+ MB

In [19]:
df_merge.to_csv('./main/강남구전세루트데이터_수정.csv', index=False, encoding='utf-8')
df_merge.to_csv('./main/강남구전세루트데이터_수정_c.csv', index=False, encoding='cp949')