In [1]:
import pandas as pd

df = pd.read_csv('./통합데이터/강남구전세데이터_찐마지막.csv', encoding='utf-8')

In [2]:
df_blue = pd.read_csv('./휴게음식점/블루리본_도로명주소_전_위경도.csv', encoding='utf-8')
df_blue.head()

                  도로명주소   Latitude   Longitude
0  서울특별시 강남구 압구정로80길 37  37.524384  127.043559
1   서울특별시 강남구 언주로152길 8  37.522500  127.034278
2  서울특별시 강남구 선릉로155길 13  37.525346  127.038576
3  서울특별시 강남구 도산대로67길 30  37.525956  127.044561
4  서울특별시 강남구 선릉로152길 33  37.524550  127.042301

In [3]:
df_blue = df_blue.rename(columns={'Latitude':'블루리본위도', 'Longitude':'블루리본경도'})

In [4]:
df_blue = df_blue[['블루리본위도','블루리본경도']]

In [5]:
def haversine(theta):
    return np.sin((theta)/2)**2

def distance(lat1, lon1, lat2, lon2):
    r = 6371
    lat1 = lat1*np.pi/180
    lon1 = lon1*np.pi/180
    lat2 = lat2.to_numpy()*np.pi/180
    lon2 = lon2.to_numpy()*np.pi/180
    h = haversine(lat2-lat1) + np.cos(lat1)*np.cos(lat2)*haversine(lon2-lon1)
    return 2*r*np.arcsin(h**0.5)

In [11]:
import numpy as np

dist_list = []

from tqdm import tqdm
for i in tqdm(range(df.shape[0])):
    df_lat_lon = df.iloc[i][['Latitude','Longitude']]
    dist = distance(df_lat_lon['Latitude'], df_lat_lon['Longitude'], df_blue['블루리본위도'], df_blue['블루리본경도'])
    dist = (dist<=0.5).sum()
    dist_list.append(dist)

100%|██████████████████████████████████████████████████████████████████████████| 87361/87361 [01:00<00:00, 1441.78it/s]

In [9]:
dist_list = pd.DataFrame(dist_list)
df = pd.concat([df, dist_list], axis=1)
df

,AD_Code,Admin_District,Area,YearBuilt,Type,Floor,Address,Cont_Date,Age,Latitude,...,Star_Cnt,Michelin_Cnt,Mc_cnt,Bigstore_cnt,InterestRate,Market_cnt,Subway_cnt,Kinder_cnt,y,0
0,0,개포동,44.00,1989,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,...,0,0,0,0,4.04,0,0,2,7500,0
1,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-10-05,32,37.473722,...,0,0,0,0,4.82,0,0,2,14333,0
2,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,...,0,0,0,0,4.16,0,0,2,17115,0
3,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,...,0,0,0,0,4.16,0,0,2,17640,0
4,0,개포동,44.00,1989,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,...,0,0,0,0,4.04,0,0,2,7500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,2,대치동,66.64,2004,오피스텔,8.0,서울특별시 강남구 역삼로 432,2019-07-22,19,37.501439,...,3,1,1,1,2.64,0,0,1,45000,36
87357,13,청담동,43.68,2005,오피스텔,5.0,서울특별시 강남구 압구정로 461,2019-06-21,18,37.525283,...,3,17,0,2,2.74,0,0,1,38000,96
87358,13,청담동,31.57,2014,오피스텔,5.0,서울특별시 강남구 도산대로 406,2019-07-20,9,37.522821,...,3,31,1,2,2.64,0,0,0,23500,217
87359,0,개포동,29.51,2020,오피스텔,6.0,서울특별시 강남구 논현로20길 12,2020-09-08,3,37.478097,...,1,0,0,0,2.44,0,0,1,3000,5
87360,9,역삼동,29.40,2003,오피스텔,7.0,서울특별시 강남구 언주로 432-10,2020-11-25,20,37.502156,...,9,2,1,0,2.56,0,0,0,17000,30

In [12]:
df = df.rename(columns={0:'Blue_cnt'})
df

,AD_Code,Admin_District,Area,YearBuilt,Type,Floor,Address,Cont_Date,Age,Latitude,...,Star_Cnt,Michelin_Cnt,Mc_cnt,Bigstore_cnt,InterestRate,Market_cnt,Subway_cnt,Kinder_cnt,y,Blue_cnt
0,0,개포동,44.00,1989,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,...,0,0,0,0,4.04,0,0,2,7500,0
1,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-10-05,32,37.473722,...,0,0,0,0,4.82,0,0,2,14333,0
2,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,...,0,0,0,0,4.16,0,0,2,17115,0
3,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,...,0,0,0,0,4.16,0,0,2,17640,0
4,0,개포동,44.00,1989,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,...,0,0,0,0,4.04,0,0,2,7500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,2,대치동,66.64,2004,오피스텔,8.0,서울특별시 강남구 역삼로 432,2019-07-22,19,37.501439,...,3,1,1,1,2.64,0,0,1,45000,36
87357,13,청담동,43.68,2005,오피스텔,5.0,서울특별시 강남구 압구정로 461,2019-06-21,18,37.525283,...,3,17,0,2,2.74,0,0,1,38000,96
87358,13,청담동,31.57,2014,오피스텔,5.0,서울특별시 강남구 도산대로 406,2019-07-20,9,37.522821,...,3,31,1,2,2.64,0,0,0,23500,217
87359,0,개포동,29.51,2020,오피스텔,6.0,서울특별시 강남구 논현로20길 12,2020-09-08,3,37.478097,...,1,0,0,0,2.44,0,0,1,3000,5
87360,9,역삼동,29.40,2003,오피스텔,7.0,서울특별시 강남구 언주로 432-10,2020-11-25,20,37.502156,...,9,2,1,0,2.56,0,0,0,17000,30

In [13]:
y = df['y']
df = df.drop('y', axis=1)
df['y'] = y
df

,AD_Code,Admin_District,Area,YearBuilt,Type,Floor,Address,Cont_Date,Age,Latitude,...,Star_Cnt,Michelin_Cnt,Mc_cnt,Bigstore_cnt,InterestRate,Market_cnt,Subway_cnt,Kinder_cnt,Blue_cnt,y
0,0,개포동,44.00,1989,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,...,0,0,0,0,4.04,0,0,2,0,7500
1,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-10-05,32,37.473722,...,0,0,0,0,4.82,0,0,2,0,14333
2,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,...,0,0,0,0,4.16,0,0,2,0,17115
3,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,...,0,0,0,0,4.16,0,0,2,0,17640
4,0,개포동,44.00,1989,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,...,0,0,0,0,4.04,0,0,2,0,7500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,2,대치동,66.64,2004,오피스텔,8.0,서울특별시 강남구 역삼로 432,2019-07-22,19,37.501439,...,3,1,1,1,2.64,0,0,1,36,45000
87357,13,청담동,43.68,2005,오피스텔,5.0,서울특별시 강남구 압구정로 461,2019-06-21,18,37.525283,...,3,17,0,2,2.74,0,0,1,96,38000
87358,13,청담동,31.57,2014,오피스텔,5.0,서울특별시 강남구 도산대로 406,2019-07-20,9,37.522821,...,3,31,1,2,2.64,0,0,0,217,23500
87359,0,개포동,29.51,2020,오피스텔,6.0,서울특별시 강남구 논현로20길 12,2020-09-08,3,37.478097,...,1,0,0,0,2.44,0,0,1,5,3000
87360,9,역삼동,29.40,2003,오피스텔,7.0,서울특별시 강남구 언주로 432-10,2020-11-25,20,37.502156,...,9,2,1,0,2.56,0,0,0,30,17000

In [14]:
df.to_csv('./통합데이터/강남구전세데이터_찐마지막_블루리본추가.csv', index=False, encoding='utf-8')