## 메인 + 대규모

In [29]:
import pandas as pd

df_main = pd.read_csv('./main/강남구전세(3차전처리).csv', encoding='utf-8')
df_main.head()

,Unnamed: 0,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34
1,1,서울특별시 강남구 개포동,전세,11000,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01,2022-05-20,강남구,29
2,2,서울특별시 강남구 개포동,전세,16800,2000,단독다가구,44.0,3.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01,2022-01-22,강남구,23
3,3,서울특별시 강남구 개포동,전세,13000,1989,단독다가구,44.0,3.0,서울특별시 강남구 개포로15길,NaN,NaN,2022-02-18,강남구,34
4,4,서울특별시 강남구 개포동,전세,8000,1995,단독다가구,44.0,3.0,서울특별시 강남구 논현로6길,2022-07-01,2024-07-01,2022-06-25,강남구,28

In [30]:
df_main.drop('Unnamed: 0', axis=1, inplace=True)

In [31]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      87361 non-null  object
 1   전월세구분    87361 non-null  object
 2   보증금(만원)  87361 non-null  int64
 3   건축년도     87361 non-null  int64
 4   구분       87361 non-null  object
 5   전용면적(㎡)  87361 non-null  float64
 6   층        87361 non-null  float64
 7   도로명주소    87361 non-null  object
 8   계약시작     25069 non-null  object
 9   계약종료     25069 non-null  object
 10  계약년월일    87361 non-null  object
 11  구        87361 non-null  object
 12  건축나이     87361 non-null  int64
dtypes: float64(2), int64(3), object(8)
memory usage: 8.7+ MB

In [32]:
df_main['계약년월일'] = pd.to_datetime(df_main['계약년월일'], format='%Y-%m-%d', errors='coerce')
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      87361 non-null  object
 1   전월세구분    87361 non-null  object
 2   보증금(만원)  87361 non-null  int64
 3   건축년도     87361 non-null  int64
 4   구분       87361 non-null  object
 5   전용면적(㎡)  87361 non-null  float64
 6   층        87361 non-null  float64
 7   도로명주소    87361 non-null  object
 8   계약시작     25069 non-null  object
 9   계약종료     25069 non-null  object
 10  계약년월일    87361 non-null  datetime64[ns]
 11  구        87361 non-null  object
 12  건축나이     87361 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(7)
memory usage: 8.7+ MB

## + 대규모

In [33]:
import pandas as pd

df_store = pd.read_csv('./대규모점포/강남구_대규모점포.csv', encoding='utf-8')
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   개방자치단체코드   71 non-null     int64
 1   인허가일자      71 non-null     object
 2   인허가취소일자    1 non-null      float64
 3   영업상태코드     71 non-null     int64
 4   영업상태명      71 non-null     object
 5   상세영업상태코드   71 non-null     int64
 6   상세영업상태명    71 non-null     object
 7   폐업일자       15 non-null     float64
 8   휴업시작일자     1 non-null      float64
 9   휴업종료일자     1 non-null      float64
 10  재개업일자      1 non-null      float64
 11  소재지면적      67 non-null     float64
 12  지번주소       55 non-null     object
 13  도로명주소      60 non-null     object
 14  Latitude   60 non-null     float64
 15  Longitude  60 non-null     float64
 16  사업장명       71 non-null     object
 17  업태구분명      70 non-null     object
 18  점포구분명      55 non-null     object
dtypes: float64(8), int64(3), object(8)
memory usage: 10.7+ KB

In [34]:
df_store = df_store[df_store['도로명주소'].isnull()==False]
df_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 70
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   개방자치단체코드   60 non-null     int64
 1   인허가일자      60 non-null     object
 2   인허가취소일자    0 non-null      float64
 3   영업상태코드     60 non-null     int64
 4   영업상태명      60 non-null     object
 5   상세영업상태코드   60 non-null     int64
 6   상세영업상태명    60 non-null     object
 7   폐업일자       12 non-null     float64
 8   휴업시작일자     1 non-null      float64
 9   휴업종료일자     1 non-null      float64
 10  재개업일자      1 non-null      float64
 11  소재지면적      60 non-null     float64
 12  지번주소       44 non-null     object
 13  도로명주소      60 non-null     object
 14  Latitude   60 non-null     float64
 15  Longitude  60 non-null     float64
 16  사업장명       60 non-null     object
 17  업태구분명      59 non-null     object
 18  점포구분명      53 non-null     object
dtypes: float64(8), int64(3), object(8)
memory usage: 9.4+ KB

In [35]:
# df_store['인허가일자'] = pd.to_datetime(df_store['인허가일자'], format='%Y%m%d', errors='coerce')
# df_store['폐업일자'] = pd.to_datetime(df_store['폐업일자'], format='%Y%m%d', errors='coerce')
df_store_2 = pd.DataFrame()
df_store_2['인허가일자'] = pd.to_datetime(df_store['인허가일자'], format='%Y%m%d', errors='coerce')
df_store_2['폐업일자'] = pd.to_datetime(df_store['폐업일자'], format='%Y%m%d', errors='coerce')
df_store_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 70
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   인허가일자   57 non-null     datetime64[ns]
 1   폐업일자    12 non-null     datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 1.4 KB

In [36]:
df_store_2['인허가일자']

1    1984-02-08
2    1996-11-15
3    1974-11-10
4    1973-08-01
5    1979-01-17
6    1987-02-02
8    1976-08-07
9           NaT
10   1978-05-26
11   1980-05-19
12   1983-10-11
13   1985-02-06
14   1979-04-16
15   1984-05-25
16   1981-04-14
17   1974-12-27
18   1992-12-26
19   1994-06-15
20   1994-06-15
21   1994-06-15
26   1985-11-30
27   1988-10-10
28          NaT
29   2000-06-16
30   1988-10-19
31   2000-05-01
32   2000-05-03
35   2003-01-28
38   1988-05-13
39   2006-10-24
40   2006-10-18
41   2009-09-30
42   2009-11-09
43   2005-08-29
44   2010-12-30
45   2011-04-12
46   2011-04-12
47   2011-06-23
48   2012-07-26
49   2012-04-05
50   2012-05-18
51   2013-02-15
52   2013-06-04
53   2013-12-04
54   2014-03-25
55   2012-07-02
56   2011-11-24
57   2011-12-02
58   2012-01-19
59   2012-07-02
60   2012-07-02
61          NaT
62   2012-07-02
63   2014-09-16
64   2014-11-25
65   2015-12-11
66   2016-12-29
68   2021-03-19
69   2022-04-12
70   2022-09-15
Name: 인허가일자, dtype: datetime64[ns]

In [37]:
df_store['인허가일자']

1       19840208
2       19961115
3       19741110
4       19730801
5       19790117
6       19870202
8       19760807
9     1985-07-08
10      19780526
11      19800519
12      19831011
13      19850206
14      19790416
15      19840525
16      19810414
17      19741227
18      19921226
19      19940615
20      19940615
21      19940615
26      19851130
27      19881010
28    1985-03-18
29      20000616
30      19881019
31      20000501
32      20000503
35      20030128
38      19880513
39      20061024
40      20061018
41      20090930
42      20091109
43      20050829
44      20101230
45      20110412
46      20110412
47      20110623
48      20120726
49      20120405
50      20120518
51      20130215
52      20130604
53      20131204
54      20140325
55      20120702
56      20111124
57      20111202
58      20120119
59      20120702
60      20120702
61    2012-07-02
62      20120702
63      20140916
64      20141125
65      20151211
66      20161229
68      20210319
69      20220412
70      20220915
Name: 인허가일자, dtype: object

In [38]:
def date_preprocessing(date):
    if date.find('-') != -1:
        return date.replace('-','')
    return date

df_store['인허가일자'] = df_store['인허가일자'].apply(date_preprocessing)
df_store['인허가일자']

1     19840208
2     19961115
3     19741110
4     19730801
5     19790117
6     19870202
8     19760807
9     19850708
10    19780526
11    19800519
12    19831011
13    19850206
14    19790416
15    19840525
16    19810414
17    19741227
18    19921226
19    19940615
20    19940615
21    19940615
26    19851130
27    19881010
28    19850318
29    20000616
30    19881019
31    20000501
32    20000503
35    20030128
38    19880513
39    20061024
40    20061018
41    20090930
42    20091109
43    20050829
44    20101230
45    20110412
46    20110412
47    20110623
48    20120726
49    20120405
50    20120518
51    20130215
52    20130604
53    20131204
54    20140325
55    20120702
56    20111124
57    20111202
58    20120119
59    20120702
60    20120702
61    20120702
62    20120702
63    20140916
64    20141125
65    20151211
66    20161229
68    20210319
69    20220412
70    20220915
Name: 인허가일자, dtype: object

In [39]:
df_store['인허가일자'] = pd.to_datetime(df_store['인허가일자'], format='%Y%m%d', errors='coerce')
df_store['폐업일자'] = pd.to_datetime(df_store['폐업일자'], format='%Y%m%d', errors='coerce')
df_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 70
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   개방자치단체코드   60 non-null     int64
 1   인허가일자      60 non-null     datetime64[ns]
 2   인허가취소일자    0 non-null      float64
 3   영업상태코드     60 non-null     int64
 4   영업상태명      60 non-null     object
 5   상세영업상태코드   60 non-null     int64
 6   상세영업상태명    60 non-null     object
 7   폐업일자       12 non-null     datetime64[ns]
 8   휴업시작일자     1 non-null      float64
 9   휴업종료일자     1 non-null      float64
 10  재개업일자      1 non-null      float64
 11  소재지면적      60 non-null     float64
 12  지번주소       44 non-null     object
 13  도로명주소      60 non-null     object
 14  Latitude   60 non-null     float64
 15  Longitude  60 non-null     float64
 16  사업장명       60 non-null     object
 17  업태구분명      59 non-null     object
 18  점포구분명      53 non-null     object
dtypes: datetime64[ns](2), float64(7), int64(3), object(7)
memory usage: 9.4+ KB

In [40]:
df_store['휴업시작일자'].unique()

array([      nan, 20110415.])

In [41]:
df_store['휴업종료일자'].unique()

array([      nan, 20140430.])

In [42]:
df_store['재개업일자'].unique()

array([      nan, 20140326.])

In [43]:
df_store = df_store.rename(columns = {'Latitude':'대규모점포위도', 'Longitude':'대규모점포경도'})
df_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 70
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   개방자치단체코드  60 non-null     int64
 1   인허가일자     60 non-null     datetime64[ns]
 2   인허가취소일자   0 non-null      float64
 3   영업상태코드    60 non-null     int64
 4   영업상태명     60 non-null     object
 5   상세영업상태코드  60 non-null     int64
 6   상세영업상태명   60 non-null     object
 7   폐업일자      12 non-null     datetime64[ns]
 8   휴업시작일자    1 non-null      float64
 9   휴업종료일자    1 non-null      float64
 10  재개업일자     1 non-null      float64
 11  소재지면적     60 non-null     float64
 12  지번주소      44 non-null     object
 13  도로명주소     60 non-null     object
 14  대규모점포위도   60 non-null     float64
 15  대규모점포경도   60 non-null     float64
 16  사업장명      60 non-null     object
 17  업태구분명     59 non-null     object
 18  점포구분명     53 non-null     object
dtypes: datetime64[ns](2), float64(7), int64(3), object(7)
memory usage: 9.4+ KB

In [44]:
df_store['점포구분명'].value_counts()

대규모점포     39
준대규모점포    14
Name: 점포구분명, dtype: int64

In [45]:
df_store[df_store['점포구분명'].isnull()==True]

,개방자치단체코드,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지면적,지번주소,도로명주소,대규모점포위도,대규모점포경도,사업장명,업태구분명,점포구분명
9,3220000,1985-07-08,NaN,1,영업/정상,1,정상영업,NaT,NaN,NaN,NaN,10250.00,서울특별시 강남구 압구정동 515호,"서울특별시 강남구 압구정로 407 (압구정동, 갤러리아백화점)",37.528080,127.041569,갤러리아백화점(동관),백화점,NaN
28,3220000,1985-03-18,NaN,1,영업/정상,1,정상영업,NaT,NaN,NaN,NaN,15358.00,서울특별시 강남구 압구정동 494호,"서울특별시 강남구 압구정로 343 (압구정동, 갤러리아백화점)",37.528561,127.040055,갤러리아백화점(서관),백화점,NaN
29,3220000,2000-06-16,NaN,1,영업/정상,1,정상영업,NaT,NaN,NaN,NaN,26532.00,서울특별시 강남구 대치동 937호,서울특별시 강남구 도곡로 401 (대치동),37.497058,127.053594,롯데백화점(강남점),백화점,NaN
53,3220000,2013-12-04,NaN,3,폐업,3,폐업처리,2022-08-19,NaN,NaN,NaN,3041.01,서울특별시 강남구 역삼1동 796번지 29호,서울특별시 강남구 논현로63길 16 (역삼동),37.493001,127.039117,역삼서해더블루,그 밖의 대규모점포,NaN
61,3220000,2012-07-02,NaN,1,영업/정상,1,정상영업,NaT,NaN,NaN,NaN,294.90,NaN,서울특별시 강남구 봉은사로103길 5 (삼성동),37.514995,127.061415,롯데슈퍼 코엑스점,구분없음,NaN
69,3220000,2022-04-12,NaN,1,영업/정상,1,정상영업,NaT,NaN,NaN,NaN,794.70,서울특별시 강남구 신사동 510-11 강남상가아파트,"서울특별시 강남구 압구정로2길 46, 1층 (신사동, ---------)",37.518771,127.020669,이마트에브리데이 강남시장점,구분없음,NaN
70,3220000,2022-09-15,NaN,1,영업/정상,1,정상영업,NaT,NaN,NaN,NaN,198.00,서울특별시 강남구 신사동 638-6,"서울특별시 강남구 압구정로 312, 신사동동 1층 (신사동)",37.528757,127.035514,GS THE FRESH 압구정점,구분없음,NaN

In [46]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 70
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   개방자치단체코드  60 non-null     int64
 1   인허가일자     60 non-null     datetime64[ns]
 2   인허가취소일자   0 non-null      float64
 3   영업상태코드    60 non-null     int64
 4   영업상태명     60 non-null     object
 5   상세영업상태코드  60 non-null     int64
 6   상세영업상태명   60 non-null     object
 7   폐업일자      12 non-null     datetime64[ns]
 8   휴업시작일자    1 non-null      float64
 9   휴업종료일자    1 non-null      float64
 10  재개업일자     1 non-null      float64
 11  소재지면적     60 non-null     float64
 12  지번주소      44 non-null     object
 13  도로명주소     60 non-null     object
 14  대규모점포위도   60 non-null     float64
 15  대규모점포경도   60 non-null     float64
 16  사업장명      60 non-null     object
 17  업태구분명     59 non-null     object
 18  점포구분명     53 non-null     object
dtypes: datetime64[ns](2), float64(7), int64(3), object(7)
memory usage: 9.4+ KB

In [47]:
df_store.to_csv('./대규모점포/강남구대규모점포_전_u.csv', index=False, encoding='utf-8')
df_store.to_csv('./대규모점포/강남구대규모점포_전_c.csv', index=False, encoding='cp949')

In [48]:
df_store = df_store[['인허가일자','폐업일자','대규모점포위도','대규모점포경도']]
df_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 70
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   인허가일자    60 non-null     datetime64[ns]
 1   폐업일자     12 non-null     datetime64[ns]
 2   대규모점포위도  60 non-null     float64
 3   대규모점포경도  60 non-null     float64
dtypes: datetime64[ns](2), float64(2)
memory usage: 2.3 KB

In [49]:
df_store['폐업일자'] = pd.to_datetime(df_store['폐업일자'].fillna('20230101'), format='%Y%m%d', errors='coerce')

In [50]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 70
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   인허가일자    60 non-null     datetime64[ns]
 1   폐업일자     60 non-null     datetime64[ns]
 2   대규모점포위도  60 non-null     float64
 3   대규모점포경도  60 non-null     float64
dtypes: datetime64[ns](2), float64(2)
memory usage: 2.3 KB

In [51]:
from typing import List, Union, Callable, Any, Optional

import numpy as np
import pandas as pd


ColumnarType = Union[str, List[str]]


def maybe_convert_to_list(something: Union[Any, List[Any]]) -> List[Any]:
    """
    Make a list of one element if argument is not a list.
    :param something:
        single value or list
    :return:
        non-empty list
    """
    return something if isinstance(something, list) else [something]


def non_equi_inner_join(
        left: pd.DataFrame,
        right: pd.DataFrame,
        non_equi_conditions: Union[Callable, List[Callable]],
        equi_on: Optional[Union[ColumnarType]] = None,
        equi_left_on: Optional[ColumnarType] = None,
        equi_right_on: Optional[ColumnarType] = None,
        n_partitioning_equi_keys: Optional[int] = None
        ) -> pd.DataFrame:
    """
    Join two `DataFrame`s by arbitrary conditions and,
    optionally, by exact match of some columns (this
    equi join part is regular merge from `pandas`).
    :param left:
        left `DataFrame`
    :param right:
        right `DataFrame`
    :param non_equi_conditions:
        functions such that their only argument is a `DataFrame`
        produced by join that ignores non-equi join part
        and result of each of them is a boolean mask that
        tells which rows satisfy corresponding non-equi join
        condition 
    :param equi_on:
        columns to be used for equi join part, this argument
        overrides `equi_left_on` and `equi_right_on`
    :param equi_left_on:
        columns of `left` to be used for equi join part
    :param equi_right_on:
        columns of `right` to be used for equi join part
    :param n_partitioning_equi_keys:
        number of equi join keys to be used for partitioning;
        the corresponding number of first keys is selected, so
        take this into consideration when ordering equi join keys;
        partitioning means that, instead of running equi join
        followed with filtering by non-equi conditions,
        both `DataFrame`s are split by some of equi join keys,
        then (equi_join+filtering) is run for each of the
        partitions and, finally, results are concatenated;
        the higher this argument, the slower execution can be,
        but also the less memory is taken in case of large
        enough `DataFrames`; default leads to usage of all
        equi join keys for partitioning
    :return:
        joined `DataFrame`
    Examples:
    >>> left = pd.DataFrame([[1, 2, 3],
    >>>                      [4, 5, 6],
    >>>                      [7, 8, 9]],
    >>>                     columns=['a', 'b', 'c'])
    >>> right = pd.DataFrame([[1, 2.5, -3],
    >>>                       [4, 7, -6],
    >>>                       [6, 8.5, -9]],
    >>>                      columns=['a', 'd', 'e'])
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']],
    >>>     equi_on='a'
    >>> )
        pd.DataFrame([[1, 2, 3, 2.5, -3]],
                     columns=['a', 'b', 'c', 'd', 'e'])
    
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']]
    >>> )
        pd.DataFrame([[1, 2, 3, 1, 2.5, -3],
                      [7, 8, 9, 6, 8.5, -9]],
                     columns=['a_x', 'b', 'c', 'a_y', 'd', 'e'])
    """
    # Validate and preprocess inputs.
    non_equi_conditions = maybe_convert_to_list(non_equi_conditions)
    if equi_on is not None:
        equi_left_on = maybe_convert_to_list(equi_on)
        equi_right_on = maybe_convert_to_list(equi_on)
    else:
        equi_left_on = maybe_convert_to_list(equi_left_on)
        equi_right_on = maybe_convert_to_list(equi_right_on)
    if equi_left_on[0] is None:
        if equi_right_on[0] is not None:
            raise ValueError('Left keys are set, right keys are not set.')
        equi_left_on = ['__dummy_key']
        equi_right_on = ['__dummy_key']
        left['__dummy_key'] = 0
        right['__dummy_key'] = 0
    if n_partitioning_equi_keys is None:
        n_partitioning_equi_keys = len(equi_left_on)
    elif n_partitioning_equi_keys > len(equi_left_on):
        raise ValueError(
            'Number of keys for partitioning exceeds number of equi join keys.'
        )

    # Use equi keys (if they are set) for optimizing memory consumption.
    if n_partitioning_equi_keys > 0:
        left_partition_keys = equi_left_on[:n_partitioning_equi_keys]
        right_partition_keys = equi_right_on[:n_partitioning_equi_keys]
        left_partitions = {
            idx: group
            for idx, group
            in left.groupby(left_partition_keys, as_index=False)
        }
        right_partitions = {
            idx: group
            for idx, group
            in right.groupby(right_partition_keys, as_index=False)
        }
    else:
        left_partitions = {None: left}
        right_partitions = {None: right}
    
    # Join DataFrames.
    join_results = []
    for idx, curr_left in left_partitions.items():
        curr_right = right_partitions.get(idx)
        if curr_right is None:
            continue
        curr_joined = pd.merge(
            curr_left,
            curr_right,
            left_on=equi_left_on,
            right_on=equi_right_on
        )
        conditions = [
            checking_fn(curr_joined) for checking_fn in non_equi_conditions
        ]
        curr_joined = curr_joined[np.logical_and.reduce(conditions)]
        join_results.append(curr_joined)
    if len(join_results) > 0:
        joined = pd.concat(join_results)
    else:
        joined = pd.DataFrame(columns=left.columns)
    tmp_columns = [x for x in joined.columns.tolist() if '__dummy_key' in x]
    joined.drop(tmp_columns, axis=1, inplace=True)
    return joined

In [52]:
df = non_equi_inner_join(
    df_main,
    df_store,
    non_equi_conditions=[lambda x: x['계약년월일'] >= x['인허가일자'],
                         lambda x: x['계약년월일'] <= x['폐업일자']]
)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4242858 entries, 0 to 5241656
Data columns (total 17 columns):
 #   Column   Dtype
---  ------   -----
 0   시군구      object
 1   전월세구분    object
 2   보증금(만원)  int64
 3   건축년도     int64
 4   구분       object
 5   전용면적(㎡)  float64
 6   층        float64
 7   도로명주소    object
 8   계약시작     object
 9   계약종료     object
 10  계약년월일    datetime64[ns]
 11  구        object
 12  건축나이     int64
 13  인허가일자    datetime64[ns]
 14  폐업일자     datetime64[ns]
 15  대규모점포위도  float64
 16  대규모점포경도  float64
dtypes: datetime64[ns](3), float64(4), int64(3), object(7)
memory usage: 582.7+ MB

In [56]:
(df['인허가일자']<=df['계약년월일']).all()

True

In [57]:
(df['계약년월일']<=df['폐업일자']).all()

True