## 메인 + 역세권

In [1]:
import pandas as pd

df_main = pd.read_csv('./main/강남구전세(3차전처리).csv', encoding='utf-8')
df_main.head()

,Unnamed: 0,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34
1,1,서울특별시 강남구 개포동,전세,11000,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01,2022-05-20,강남구,29
2,2,서울특별시 강남구 개포동,전세,16800,2000,단독다가구,44.0,3.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01,2022-01-22,강남구,23
3,3,서울특별시 강남구 개포동,전세,13000,1989,단독다가구,44.0,3.0,서울특별시 강남구 개포로15길,NaN,NaN,2022-02-18,강남구,34
4,4,서울특별시 강남구 개포동,전세,8000,1995,단독다가구,44.0,3.0,서울특별시 강남구 논현로6길,2022-07-01,2024-07-01,2022-06-25,강남구,28

In [2]:
df_main.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      87361 non-null  object
 1   전월세구분    87361 non-null  object
 2   보증금(만원)  87361 non-null  int64
 3   건축년도     87361 non-null  int64
 4   구분       87361 non-null  object
 5   전용면적(㎡)  87361 non-null  float64
 6   층        87361 non-null  float64
 7   도로명주소    87361 non-null  object
 8   계약시작     25069 non-null  object
 9   계약종료     25069 non-null  object
 10  계약년월일    87361 non-null  object
 11  구        87361 non-null  object
 12  건축나이     87361 non-null  int64
dtypes: float64(2), int64(3), object(8)
memory usage: 8.7+ MB

In [4]:
df_main['계약년월일'] = pd.to_datetime(df_main['계약년월일'], format='%Y-%m-%d', errors='coerce')
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      87361 non-null  object
 1   전월세구분    87361 non-null  object
 2   보증금(만원)  87361 non-null  int64
 3   건축년도     87361 non-null  int64
 4   구분       87361 non-null  object
 5   전용면적(㎡)  87361 non-null  float64
 6   층        87361 non-null  float64
 7   도로명주소    87361 non-null  object
 8   계약시작     25069 non-null  object
 9   계약종료     25069 non-null  object
 10  계약년월일    87361 non-null  datetime64[ns]
 11  구        87361 non-null  object
 12  건축나이     87361 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(7)
memory usage: 8.7+ MB

In [5]:
df_subway = pd.read_csv('./subway/강남구지하철역_전_u.csv', encoding='utf-8')
df_subway.head()

,역사_ID,역명,호선_x,위도,경도,철도운영기관명,호선_y,지번주소,도로명주소
0,4307,강남,신분당선,37.496837,127.028104,서울교통공사,2호선,서울특별시 강남구 역삼동 858 강남역(2호선),서울특별시 강남구 강남대로 지하396(역삼동)
1,4306,신논현,신분당선(연장2),37.504598,127.025060,서울9호선,9호선,서울특별시 강남구 역삼동 800,서울특별시 강남구 봉은사로 102
2,4305,논현,신분당선(연장2),37.511093,127.021415,서울교통공사,7호선,서울특별시 강남구 논현동 279-67 논현역(7호선),서울특별시 강남구 학동로 지하102(논현동)
3,4304,신사,신분당선(연장2),37.516334,127.020114,서울교통공사,3호선,서울특별시 강남구 신사동 667 신사역(3호선),서울특별시 강남구 도산대로 지하102(신사동)
4,4129,봉은사,9호선(연장),37.514219,127.060245,서울9호선,9호선,서울특별시 강남구 삼성동 172,서울특별시 강남구 봉은사로 601

In [6]:
df_subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   역사_ID    27 non-null     int64
 1   역명       27 non-null     object
 2   호선_x     27 non-null     object
 3   위도       27 non-null     float64
 4   경도       27 non-null     float64
 5   철도운영기관명  27 non-null     object
 6   호선_y     27 non-null     object
 7   지번주소     27 non-null     object
 8   도로명주소    27 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 2.0+ KB

In [7]:
df_subway = df_subway.rename(columns={'위도':'역세권위도', '경도':'역세권경도'})
df_subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   역사_ID    27 non-null     int64
 1   역명       27 non-null     object
 2   호선_x     27 non-null     object
 3   역세권위도    27 non-null     float64
 4   역세권경도    27 non-null     float64
 5   철도운영기관명  27 non-null     object
 6   호선_y     27 non-null     object
 7   지번주소     27 non-null     object
 8   도로명주소    27 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 2.0+ KB

In [8]:
df_subway = df_subway[['역세권위도','역세권경도']]
df_subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   역세권위도   27 non-null     float64
 1   역세권경도   27 non-null     float64
dtypes: float64(2)
memory usage: 560.0 bytes

In [9]:
df = pd.merge(df_main, df_subway, how='cross')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2358747 entries, 0 to 2358746
Data columns (total 15 columns):
 #   Column   Dtype
---  ------   -----
 0   시군구      object
 1   전월세구분    object
 2   보증금(만원)  int64
 3   건축년도     int64
 4   구분       object
 5   전용면적(㎡)  float64
 6   층        float64
 7   도로명주소    object
 8   계약시작     object
 9   계약종료     object
 10  계약년월일    datetime64[ns]
 11  구        object
 12  건축나이     int64
 13  역세권위도    float64
 14  역세권경도    float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 287.9+ MB

In [10]:
len(df_main)*len(df_subway)

2358747