## 메인 + 역세권

In [1]:
import pandas as pd

df_main = pd.read_csv('./main/강남구전세루트데이터_수정.csv', encoding='utf-8')
df_main.head()

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725

In [2]:
# df_main.drop('Unnamed: 0', axis=1, inplace=True)

In [2]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구        87361 non-null  object
 1   전월세구분      87361 non-null  object
 2   보증금(만원)    87361 non-null  int64
 3   건축년도       87361 non-null  int64
 4   구분         87361 non-null  object
 5   전용면적(㎡)    87361 non-null  float64
 6   층          87361 non-null  float64
 7   도로명주소      87361 non-null  object
 8   계약시작       25069 non-null  object
 9   계약종료       25069 non-null  object
 10  계약년월일      87361 non-null  object
 11  구          87361 non-null  object
 12  건축나이       87361 non-null  int64
 13  Latitude   87361 non-null  float64
 14  Longitude  87361 non-null  float64
dtypes: float64(4), int64(3), object(8)
memory usage: 10.0+ MB

In [3]:
df_subway = pd.read_csv('./subway/강남구지하철역_전_u.csv', encoding='utf-8')
df_subway.head()

,역사_ID,역명,호선_x,위도,경도,철도운영기관명,호선_y,지번주소,도로명주소
0,4307,강남,신분당선,37.496837,127.028104,서울교통공사,2호선,서울특별시 강남구 역삼동 858 강남역(2호선),서울특별시 강남구 강남대로 지하396(역삼동)
1,4306,신논현,신분당선(연장2),37.504598,127.025060,서울9호선,9호선,서울특별시 강남구 역삼동 800,서울특별시 강남구 봉은사로 102
2,4305,논현,신분당선(연장2),37.511093,127.021415,서울교통공사,7호선,서울특별시 강남구 논현동 279-67 논현역(7호선),서울특별시 강남구 학동로 지하102(논현동)
3,4304,신사,신분당선(연장2),37.516334,127.020114,서울교통공사,3호선,서울특별시 강남구 신사동 667 신사역(3호선),서울특별시 강남구 도산대로 지하102(신사동)
4,4129,봉은사,9호선(연장),37.514219,127.060245,서울9호선,9호선,서울특별시 강남구 삼성동 172,서울특별시 강남구 봉은사로 601

In [4]:
df_subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   역사_ID    27 non-null     int64
 1   역명       27 non-null     object
 2   호선_x     27 non-null     object
 3   위도       27 non-null     float64
 4   경도       27 non-null     float64
 5   철도운영기관명  27 non-null     object
 6   호선_y     27 non-null     object
 7   지번주소     27 non-null     object
 8   도로명주소    27 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 2.0+ KB

In [5]:
df_subway = df_subway.rename(columns={'위도':'역세권위도', '경도':'역세권경도'})
df_subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   역사_ID    27 non-null     int64
 1   역명       27 non-null     object
 2   호선_x     27 non-null     object
 3   역세권위도    27 non-null     float64
 4   역세권경도    27 non-null     float64
 5   철도운영기관명  27 non-null     object
 6   호선_y     27 non-null     object
 7   지번주소     27 non-null     object
 8   도로명주소    27 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 2.0+ KB

In [6]:
df_subway = df_subway[['역세권위도','역세권경도']]
df_subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   역세권위도   27 non-null     float64
 1   역세권경도   27 non-null     float64
dtypes: float64(2)
memory usage: 560.0 bytes

In [9]:
# df = pd.merge(df_main, df_subway, how='cross')
# df.info()

In [10]:
# len(df_main)*len(df_subway)

In [18]:
# import geopy

# def calculate_distance(row):
#     try:
#         return geodesic((row['Latitude'], row['Longitude']), (row['역세권위도'], row['역세권경도'])).kilometers
#     except (ValueError, TypeError):
#         return None

# df['Distance_to_station'] = df.apply(calculate_distance, axis=1)

# df

In [19]:
# import geopy.distance

# def calculate_distance(row):
#     return geopy.distance.distance((row['Latitude'], row['Longitude']), (row['역세권위도'], row['역세권경도'])).km

# df['Distance_to_station'] = df.apply(calculate_distance, axis=1)

# df

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,역세권위도,역세권경도,Distance_to_station
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.496837,127.028104,3.364995
1,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.504598,127.025060,4.210590
2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.511093,127.021415,4.986969
3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.516334,127.020114,5.539249
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.514219,127.060245,4.543546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358742,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.494612,127.063642,1.922577
2358743,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.486947,127.046769,1.704819
2358744,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.527072,127.028461,3.090539
2358745,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.500622,127.036456,0.694495
2358746,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.508844,127.063160,1.843877

In [21]:
# df['Distance_to_station'] = df['Distance_to_station'].apply(lambda x: round(x, 2))

In [22]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2358747 entries, 0 to 2358746
Data columns (total 18 columns):
 #   Column               Dtype
---  ------               -----
 0   시군구                  object
 1   전월세구분                object
 2   보증금(만원)              int64
 3   건축년도                 int64
 4   구분                   object
 5   전용면적(㎡)              float64
 6   층                    float64
 7   도로명주소                object
 8   계약시작                 object
 9   계약종료                 object
 10  계약년월일                datetime64[ns]
 11  구                    object
 12  건축나이                 int64
 13  Latitude             float64
 14  Longitude            float64
 15  역세권위도                float64
 16  역세권경도                float64
 17  Distance_to_station  float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(7)
memory usage: 341.9+ MB

In [23]:
# df.to_csv('./main/강남구전세루트데이터+역세권.csv', index=False, encoding='utf-8')

### key값이 있어야 groupby할 수 있다. key를 만들어서 merge해보자

In [7]:
df_main_test = df_main.loc[0:20]

In [8]:
df_main_test

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
5,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
6,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
7,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
8,서울특별시 강남구 개포동,전세,7000,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-08-10,강남구,34,37.473722,127.052725
9,서울특별시 강남구 개포동,전세,9000,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-07-17,강남구,34,37.473722,127.052725
10,서울특별시 강남구 개포동,전세,9000,2000,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-07-24,강남구,23,37.473722,127.052725
11,서울특별시 강남구 개포동,전세,9000,1990,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-03-28,강남구,33,37.473722,127.052725
12,서울특별시 강남구 개포동,전세,9000,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-03-31,강남구,29,37.473722,127.052725
13,서울특별시 강남구 개포동,전세,9000,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-08-04,강남구,34,37.473722,127.052725
14,서울특별시 강남구 개포동,전세,9500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-03-27,강남구,34,37.473722,127.052725
15,서울특별시 강남구 개포동,전세,19300,1990,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-09-28,강남구,33,37.473722,127.052725
16,서울특별시 강남구 개포동,전세,22800,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-06-27,강남구,32,37.473722,127.052725
17,서울특별시 강남구 개포동,전세,30000,1988,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-04-05,강남구,35,37.473722,127.052725
18,서울특별시 강남구 개포동,전세,15000,1990,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-10-22,강남구,33,37.473722,127.052725
19,서울특별시 강남구 개포동,전세,10500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-10-17,강남구,34,37.473722,127.052725
20,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725

In [9]:
# df_subway_test =pd.concat([pd.DataFrame(range(len(df_subway))) ,df_subway], axis=1)
df_subway_test = df_subway.reset_index(drop=False)

In [10]:
df_subway_test

    index      역세권위도       역세권경도
0       0  37.496837  127.028104
1       1  37.504598  127.025060
2       2  37.511093  127.021415
3       3  37.516334  127.020114
4       4  37.514219  127.060245
5       5  37.513011  127.053282
6       6  37.510297  127.043999
7       7  37.507287  127.033868
8       8  37.514229  127.031656
9       9  37.517179  127.041255
10     10  37.519365  127.053350
11     11  37.527381  127.040534
12     12  37.487472  127.101422
13     13  37.491373  127.072720
14     14  37.489116  127.066140
15     15  37.486839  127.058856
16     16  37.491224  127.055186
17     17  37.496237  127.052873
18     18  37.504856  127.048807
19     19  37.483681  127.084390
20     20  37.493514  127.079532
21     21  37.496663  127.070594
22     22  37.494612  127.063642
23     23  37.486947  127.046769
24     24  37.527072  127.028461
25     25  37.500622  127.036456
26     26  37.508844  127.063160

In [11]:
df_merge_test = pd.merge(df_main_test, df_subway_test, how='cross')

In [12]:
df_merge_test

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,index,역세권위도,역세권경도
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0,37.496837,127.028104
1,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,1,37.504598,127.025060
2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,2,37.511093,127.021415
3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,3,37.516334,127.020114
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,4,37.514219,127.060245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,22,37.494612,127.063642
563,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,23,37.486947,127.046769
564,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,24,37.527072,127.028461
565,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,25,37.500622,127.036456
566,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,26,37.508844,127.063160

In [13]:
# df_main_test_2 =pd.concat([pd.DataFrame(range(len(df_main_test))) ,df_main_test], axis=1)
df_main_test_2 = df_main_test.reset_index(drop=False)
df_main_test_2

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
5,5,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
6,6,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
7,7,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
8,8,서울특별시 강남구 개포동,전세,7000,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-08-10,강남구,34,37.473722,127.052725
9,9,서울특별시 강남구 개포동,전세,9000,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-07-17,강남구,34,37.473722,127.052725
10,10,서울특별시 강남구 개포동,전세,9000,2000,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-07-24,강남구,23,37.473722,127.052725
11,11,서울특별시 강남구 개포동,전세,9000,1990,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-03-28,강남구,33,37.473722,127.052725
12,12,서울특별시 강남구 개포동,전세,9000,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-03-31,강남구,29,37.473722,127.052725
13,13,서울특별시 강남구 개포동,전세,9000,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-08-04,강남구,34,37.473722,127.052725
14,14,서울특별시 강남구 개포동,전세,9500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-03-27,강남구,34,37.473722,127.052725
15,15,서울특별시 강남구 개포동,전세,19300,1990,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-09-28,강남구,33,37.473722,127.052725
16,16,서울특별시 강남구 개포동,전세,22800,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-06-27,강남구,32,37.473722,127.052725
17,17,서울특별시 강남구 개포동,전세,30000,1988,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-04-05,강남구,35,37.473722,127.052725
18,18,서울특별시 강남구 개포동,전세,15000,1990,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2018-10-22,강남구,33,37.473722,127.052725
19,19,서울특별시 강남구 개포동,전세,10500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-10-17,강남구,34,37.473722,127.052725
20,20,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725

In [14]:
df_merge_test_2= pd.merge(df_main_test_2, df_subway, how='cross')

In [15]:
df_merge_test_2
##### 이 방식으로 해야함

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,역세권위도,역세권경도
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.496837,127.028104
1,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.504598,127.025060
2,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.511093,127.021415
3,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.516334,127.020114
4,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.514219,127.060245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,20,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,37.494612,127.063642
563,20,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,37.486947,127.046769
564,20,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,37.527072,127.028461
565,20,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,37.500622,127.036456
566,20,서울특별시 강남구 개포동,전세,6300,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,NaN,NaN,2020-12-04,강남구,29,37.473722,127.052725,37.508844,127.063160

## 여기부터 설명

In [16]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구        87361 non-null  object
 1   전월세구분      87361 non-null  object
 2   보증금(만원)    87361 non-null  int64
 3   건축년도       87361 non-null  int64
 4   구분         87361 non-null  object
 5   전용면적(㎡)    87361 non-null  float64
 6   층          87361 non-null  float64
 7   도로명주소      87361 non-null  object
 8   계약시작       25069 non-null  object
 9   계약종료       25069 non-null  object
 10  계약년월일      87361 non-null  object
 11  구          87361 non-null  object
 12  건축나이       87361 non-null  int64
 13  Latitude   87361 non-null  float64
 14  Longitude  87361 non-null  float64
dtypes: float64(4), int64(3), object(8)
memory usage: 10.0+ MB

In [17]:
df_main.reset_index(drop=False, inplace=True)

In [18]:
df_main

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,87356,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,NaN,NaN,2019-07-22,강남구,19,37.501439,127.054330
87357,87357,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,NaN,NaN,2019-06-21,강남구,18,37.525283,127.047239
87358,87358,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,NaN,NaN,2019-07-20,강남구,9,37.522821,127.039963
87359,87359,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,NaN,NaN,2020-09-08,강남구,3,37.478097,127.045854
87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070

In [19]:
df = pd.merge(df_main, df_subway, how='cross')
df

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,역세권위도,역세권경도
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.496837,127.028104
1,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.504598,127.025060
2,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.511093,127.021415
3,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.516334,127.020114
4,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.514219,127.060245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358742,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.494612,127.063642
2358743,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.486947,127.046769
2358744,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.527072,127.028461
2358745,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.500622,127.036456
2358746,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.508844,127.063160

In [20]:
(df[['index','도로명주소']].duplicated()==False).sum()
##### Good!!!!!!!

87361

In [15]:
import geopy.distance

def calculate_distance(row):
    return geopy.distance.distance((row['Latitude'], row['Longitude']), (row['역세권위도'], row['역세권경도'])).km

df['Distance_to_station'] = df.apply(calculate_distance, axis=1)

df

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,역세권위도,역세권경도,Distance_to_station
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.496837,127.028104,3.364995
1,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.504598,127.025060,4.210590
2,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.511093,127.021415,4.986969
3,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.516334,127.020114,5.539249
4,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,37.514219,127.060245,4.543546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358742,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.494612,127.063642,1.922577
2358743,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.486947,127.046769,1.704819
2358744,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.527072,127.028461,3.090539
2358745,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.500622,127.036456,0.694495
2358746,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,37.508844,127.063160,1.843877

In [16]:
df['Distance_to_station'] = df['Distance_to_station'].apply(lambda x: round(x, 2))

In [17]:
df.to_csv('./main/강남구전세루트데이터+역세권.csv', index=False, encoding='utf-8')

In [21]:
import pandas as pd

df = pd.read_csv('./main/강남구전세루트데이터+역세권.csv', encoding='utf-8')

In [22]:
df.groupby(['index','도로명주소'])['Distance_to_station'].count()

index  도로명주소
0      서울특별시 강남구 논현로4길         27
1      서울특별시 강남구 논현로4길         27
2      서울특별시 강남구 논현로4길         27
3      서울특별시 강남구 논현로4길         27
4      서울특별시 강남구 논현로4길         27
                               ..
87356  서울특별시 강남구 역삼로 432       27
87357  서울특별시 강남구 압구정로 461      27
87358  서울특별시 강남구 도산대로 406      27
87359  서울특별시 강남구 논현로20길 12     27
87360  서울특별시 강남구 언주로 432-10    27
Name: Distance_to_station, Length: 87361, dtype: int64

In [23]:
def count_subway(series):
    return (series<=0.5).sum()
    
  

df_groupby = df.groupby(['index','도로명주소'])['Distance_to_station'].agg(count_subway)

In [24]:
df_groupby = pd.DataFrame(df_groupby)
df_groupby

                            Distance_to_station
index 도로명주소
0     서울특별시 강남구 논현로4길                         0
1     서울특별시 강남구 논현로4길                         0
2     서울특별시 강남구 논현로4길                         0
3     서울특별시 강남구 논현로4길                         0
4     서울특별시 강남구 논현로4길                         0
...                                         ...
87356 서울특별시 강남구 역삼로 432                       0
87357 서울특별시 강남구 압구정로 461                      0
87358 서울특별시 강남구 도산대로 406                      0
87359 서울특별시 강남구 논현로20길 12                     0
87360 서울특별시 강남구 언주로 432-10                    0

[87361 rows x 1 columns]

In [25]:
df_groupby.reset_index(drop=False, inplace=True)

In [26]:
df_groupby

       index                 도로명주소  Distance_to_station
0          0       서울특별시 강남구 논현로4길                    0
1          1       서울특별시 강남구 논현로4길                    0
2          2       서울특별시 강남구 논현로4길                    0
3          3       서울특별시 강남구 논현로4길                    0
4          4       서울특별시 강남구 논현로4길                    0
...      ...                   ...                  ...
87356  87356     서울특별시 강남구 역삼로 432                    0
87357  87357    서울특별시 강남구 압구정로 461                    0
87358  87358    서울특별시 강남구 도산대로 406                    0
87359  87359   서울특별시 강남구 논현로20길 12                    0
87360  87360  서울특별시 강남구 언주로 432-10                    0

[87361 rows x 3 columns]

In [27]:
df_main = pd.read_csv('./main/강남구전세루트데이터_수정.csv', encoding='utf-8')
df_main.head()

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725

In [28]:
(df_main['도로명주소']==df_groupby['도로명주소']).all()

True

In [29]:
df_main = pd.concat([df_main, df_groupby['Distance_to_station']], axis=1)

In [30]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   시군구                  87361 non-null  object
 1   전월세구분                87361 non-null  object
 2   보증금(만원)              87361 non-null  int64
 3   건축년도                 87361 non-null  int64
 4   구분                   87361 non-null  object
 5   전용면적(㎡)              87361 non-null  float64
 6   층                    87361 non-null  float64
 7   도로명주소                87361 non-null  object
 8   계약시작                 25069 non-null  object
 9   계약종료                 25069 non-null  object
 10  계약년월일                87361 non-null  object
 11  구                    87361 non-null  object
 12  건축나이                 87361 non-null  int64
 13  Latitude             87361 non-null  float64
 14  Longitude            87361 non-null  float64
 15  Distance_to_station  87361 non-null  int64
dtypes: float64(4), int64(4), object(8)
memory usage: 10.7+ MB

In [31]:
df_main['Distance_to_station'].value_counts()

1    38518
0    33495
2    11639
3     3709
Name: Distance_to_station, dtype: int64

In [32]:
df_main

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,Distance_to_station
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725,0
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,NaN,NaN,2019-07-22,강남구,19,37.501439,127.054330,0
87357,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,NaN,NaN,2019-06-21,강남구,18,37.525283,127.047239,0
87358,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,NaN,NaN,2019-07-20,강남구,9,37.522821,127.039963,0
87359,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,NaN,NaN,2020-09-08,강남구,3,37.478097,127.045854,0
87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,0