In [1]:
import pandas as pd

df_main = pd.read_csv('./main/강남구전세루트데이터_수정.csv', encoding='utf-8')
df_main.head()

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725

In [2]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구        87361 non-null  object
 1   전월세구분      87361 non-null  object
 2   보증금(만원)    87361 non-null  int64
 3   건축년도       87361 non-null  int64
 4   구분         87361 non-null  object
 5   전용면적(㎡)    87361 non-null  float64
 6   층          87361 non-null  float64
 7   도로명주소      87361 non-null  object
 8   계약시작       25069 non-null  object
 9   계약종료       25069 non-null  object
 10  계약년월일      87361 non-null  object
 11  구          87361 non-null  object
 12  건축나이       87361 non-null  int64
 13  Latitude   87361 non-null  float64
 14  Longitude  87361 non-null  float64
dtypes: float64(4), int64(3), object(8)
memory usage: 10.0+ MB

In [3]:
df_blue = pd.read_csv('./휴게음식점/블루리본_도로명주소_전_위경도.csv', encoding='utf-8')
df_blue.head()

                  도로명주소   Latitude   Longitude
0  서울특별시 강남구 압구정로80길 37  37.524384  127.043559
1   서울특별시 강남구 언주로152길 8  37.522500  127.034278
2  서울특별시 강남구 선릉로155길 13  37.525346  127.038576
3  서울특별시 강남구 도산대로67길 30  37.525956  127.044561
4  서울특별시 강남구 선릉로152길 33  37.524550  127.042301

In [4]:
df_blue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   도로명주소      1020 non-null   object
 1   Latitude   1020 non-null   float64
 2   Longitude  1020 non-null   float64
dtypes: float64(2), object(1)
memory usage: 24.0+ KB

In [5]:
df_blue = df_blue.rename(columns={'Latitude':'블루리본위도', 'Longitude':'블루리본경도'})
df_blue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도로명주소   1020 non-null   object
 1   블루리본위도  1020 non-null   float64
 2   블루리본경도  1020 non-null   float64
dtypes: float64(2), object(1)
memory usage: 24.0+ KB

In [6]:
df_blue = df_blue[['블루리본위도','블루리본경도']]
df_blue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   블루리본위도  1020 non-null   float64
 1   블루리본경도  1020 non-null   float64
dtypes: float64(2)
memory usage: 16.1 KB

In [7]:
df_main.reset_index(drop=False, inplace=True)

In [8]:
df_main

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,87356,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,NaN,NaN,2019-07-22,강남구,19,37.501439,127.054330
87357,87357,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,NaN,NaN,2019-06-21,강남구,18,37.525283,127.047239
87358,87358,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,NaN,NaN,2019-07-20,강남구,9,37.522821,127.039963
87359,87359,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,NaN,NaN,2020-09-08,강남구,3,37.478097,127.045854
87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070

In [9]:
df = pd.merge(df_main, df_blue, how='cross')
df

MemoryError: Unable to allocate 5.31 GiB for an array with shape (8, 89108220) and data type object