In [18]:
import pandas as pd

df_main = pd.read_csv('c:/csv/류민석/강남구전세루트데이터_수정.csv', encoding='utf-8')
df_main.head()

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725

In [19]:
df_macn = pd.read_csv('c:/csv/맥도날드.csv',encoding='cp949')
df_macn.head()

,맥날 인허가일자,맥날 폐업일자,강남구 맥도날드,맥도날드 도로명주소,맥도날드 위도,맥도날드 경도
0,2010-12-22,NaN,한국맥도날드 한티역점,서울특별시 강남구 도곡로 409,37.497382,127.055170
1,2010-12-17,NaN,한국맥도날드(유) 선릉점,서울특별시 강남구 테헤란로 326,37.503531,127.047052
2,2016-11-14,NaN,한국맥도날드(유) 강남삼성DT점,서울특별시 강남구 봉은사로 432,37.510880,127.047358
3,2016-04-11,NaN,한국맥도날드(유) 코엑스점,서울특별시 강남구 영동대로 513,37.512521,127.058819
4,2012-10-31,NaN,한국맥도날드(주)삼성역점,서울특별시 강남구 삼성로92길 29,37.508324,127.058789

In [20]:
df_macn_test = df_macn.reset_index(drop=False)

In [21]:
df_macn_test

,index,맥날 인허가일자,맥날 폐업일자,강남구 맥도날드,맥도날드 도로명주소,맥도날드 위도,맥도날드 경도
0,0,2010-12-22,NaN,한국맥도날드 한티역점,서울특별시 강남구 도곡로 409,37.497382,127.055170
1,1,2010-12-17,NaN,한국맥도날드(유) 선릉점,서울특별시 강남구 테헤란로 326,37.503531,127.047052
2,2,2016-11-14,NaN,한국맥도날드(유) 강남삼성DT점,서울특별시 강남구 봉은사로 432,37.510880,127.047358
3,3,2016-04-11,NaN,한국맥도날드(유) 코엑스점,서울특별시 강남구 영동대로 513,37.512521,127.058819
4,4,2012-10-31,NaN,한국맥도날드(주)삼성역점,서울특별시 강남구 삼성로92길 29,37.508324,127.058789
5,5,2000-05-03,NaN,한국맥도날드청담점,서울특별시 강남구 도산대로 407,37.523741,127.040304
6,6,2009-09-16,NaN,한국맥도날드(유) 압구정CGV점,서울특별시 강남구 논현로 848,37.524583,127.028828
7,7,2014-09-26,NaN,한국맥도날드(유) 학동역점,서울특별시 강남구 논현로 667,37.513655,127.030490
8,8,2013-12-24,NaN,한국맥도날드(유)신사역점,서울특별시 강남구 도산대로 123,37.517476,127.021878
9,9,2012-06-26,NaN,한국맥도날드(유) 강남구청점,서울특별시 강남구 선릉로 667,37.516267,127.041336
10,10,2013-11-19,NaN,한국맥도날드(유) 강남2호점,서울특별시 강남구 테헤란로 107,37.498708,127.028660
11,11,1999-09-17,2018-03-16,한국맥도날드 대치점,서울특별시 강남구 삼성로 151,37.492126,127.062565
12,12,2012-09-13,2018-03-23,한국맥도날드(유) 역삼점,서울특별시 강남구 논현로 419,37.497604,127.038053

In [22]:
df_main.reset_index(drop=False, inplace=True)

In [23]:
df_main

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,87356,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,NaN,NaN,2019-07-22,강남구,19,37.501439,127.054330
87357,87357,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,NaN,NaN,2019-06-21,강남구,18,37.525283,127.047239
87358,87358,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,NaN,NaN,2019-07-20,강남구,9,37.522821,127.039963
87359,87359,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,NaN,NaN,2020-09-08,강남구,3,37.478097,127.045854
87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070

In [25]:
df = pd.merge(df_main, df_macn_test, how='cross')
df

,index_x,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,...,건축나이,Latitude,Longitude,index_y,맥날 인허가일자,맥날 폐업일자,강남구 맥도날드,맥도날드 도로명주소,맥도날드 위도,맥도날드 경도
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,0,2010-12-22,NaN,한국맥도날드 한티역점,서울특별시 강남구 도곡로 409,37.497382,127.055170
1,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,1,2010-12-17,NaN,한국맥도날드(유) 선릉점,서울특별시 강남구 테헤란로 326,37.503531,127.047052
2,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2,2016-11-14,NaN,한국맥도날드(유) 강남삼성DT점,서울특별시 강남구 봉은사로 432,37.510880,127.047358
3,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,3,2016-04-11,NaN,한국맥도날드(유) 코엑스점,서울특별시 강남구 영동대로 513,37.512521,127.058819
4,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,4,2012-10-31,NaN,한국맥도날드(주)삼성역점,서울특별시 강남구 삼성로92길 29,37.508324,127.058789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135688,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,8,2013-12-24,NaN,한국맥도날드(유)신사역점,서울특별시 강남구 도산대로 123,37.517476,127.021878
1135689,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,9,2012-06-26,NaN,한국맥도날드(유) 강남구청점,서울특별시 강남구 선릉로 667,37.516267,127.041336
1135690,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,10,2013-11-19,NaN,한국맥도날드(유) 강남2호점,서울특별시 강남구 테헤란로 107,37.498708,127.028660
1135691,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,11,1999-09-17,2018-03-16,한국맥도날드 대치점,서울특별시 강남구 삼성로 151,37.492126,127.062565
1135692,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,12,2012-09-13,2018-03-23,한국맥도날드(유) 역삼점,서울특별시 강남구 논현로 419,37.497604,127.038053

In [26]:
import geopy.distance

In [27]:
def calculate_distance(row):
     return geopy.distance.distance((row['Latitude'], row['Longitude']), (row['맥도날드 위도'], row['맥도날드 경도'])).km

df['Distance_to_macn'] = df.apply(calculate_distance, axis=1)

In [28]:
df

,index_x,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,...,Latitude,Longitude,index_y,맥날 인허가일자,맥날 폐업일자,강남구 맥도날드,맥도날드 도로명주소,맥도날드 위도,맥도날드 경도,Distance_to_macn
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,37.473722,127.052725,0,2010-12-22,NaN,한국맥도날드 한티역점,서울특별시 강남구 도곡로 409,37.497382,127.055170,2.634801
1,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,37.473722,127.052725,1,2010-12-17,NaN,한국맥도날드(유) 선릉점,서울특별시 강남구 테헤란로 326,37.503531,127.047052,3.346205
2,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,37.473722,127.052725,2,2016-11-14,NaN,한국맥도날드(유) 강남삼성DT점,서울특별시 강남구 봉은사로 432,37.510880,127.047358,4.151305
3,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,37.473722,127.052725,3,2016-04-11,NaN,한국맥도날드(유) 코엑스점,서울특별시 강남구 영동대로 513,37.512521,127.058819,4.339722
4,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,37.473722,127.052725,4,2012-10-31,NaN,한국맥도날드(주)삼성역점,서울특별시 강남구 삼성로92길 29,37.508324,127.058789,3.877549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135688,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,37.502156,127.044070,8,2013-12-24,NaN,한국맥도날드(유)신사역점,서울특별시 강남구 도산대로 123,37.517476,127.021878,2.596328
1135689,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,37.502156,127.044070,9,2012-06-26,NaN,한국맥도날드(유) 강남구청점,서울특별시 강남구 선릉로 667,37.516267,127.041336,1.584626
1135690,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,37.502156,127.044070,10,2013-11-19,NaN,한국맥도날드(유) 강남2호점,서울특별시 강남구 테헤란로 107,37.498708,127.028660,1.415374
1135691,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,37.502156,127.044070,11,1999-09-17,2018-03-16,한국맥도날드 대치점,서울특별시 강남구 삼성로 151,37.492126,127.062565,1.978399
1135692,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,37.502156,127.044070,12,2012-09-13,2018-03-23,한국맥도날드(유) 역삼점,서울특별시 강남구 논현로 419,37.497604,127.038053,0.733760

In [29]:
df['Distance_to_macn'] = df['Distance_to_macn'].apply(lambda x: round(x, 2))

In [36]:
df = df.drop('index_y', axis=1) # 맥날인덱스 열 삭제(민석님꺼에서는 없길래)

In [42]:
df = df.rename(columns={'index_x':'index'})

In [43]:
df

,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,...,건축나이,Latitude,Longitude,맥날 인허가일자,맥날 폐업일자,강남구 맥도날드,맥도날드 도로명주소,맥도날드 위도,맥도날드 경도,Distance_to_macn
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2010-12-22,NaN,한국맥도날드 한티역점,서울특별시 강남구 도곡로 409,37.497382,127.055170,2.63
1,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2010-12-17,NaN,한국맥도날드(유) 선릉점,서울특별시 강남구 테헤란로 326,37.503531,127.047052,3.35
2,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2016-11-14,NaN,한국맥도날드(유) 강남삼성DT점,서울특별시 강남구 봉은사로 432,37.510880,127.047358,4.15
3,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2016-04-11,NaN,한국맥도날드(유) 코엑스점,서울특별시 강남구 영동대로 513,37.512521,127.058819,4.34
4,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,...,34,37.473722,127.052725,2012-10-31,NaN,한국맥도날드(주)삼성역점,서울특별시 강남구 삼성로92길 29,37.508324,127.058789,3.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135688,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,2013-12-24,NaN,한국맥도날드(유)신사역점,서울특별시 강남구 도산대로 123,37.517476,127.021878,2.60
1135689,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,2012-06-26,NaN,한국맥도날드(유) 강남구청점,서울특별시 강남구 선릉로 667,37.516267,127.041336,1.58
1135690,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,2013-11-19,NaN,한국맥도날드(유) 강남2호점,서울특별시 강남구 테헤란로 107,37.498708,127.028660,1.42
1135691,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,1999-09-17,2018-03-16,한국맥도날드 대치점,서울특별시 강남구 삼성로 151,37.492126,127.062565,1.98
1135692,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,...,20,37.502156,127.044070,2012-09-13,2018-03-23,한국맥도날드(유) 역삼점,서울특별시 강남구 논현로 419,37.497604,127.038053,0.73

In [44]:
df.to_csv('c:/csv/강남구전세루트데이터+맥날.csv', index=False, encoding='cp949')

In [45]:
import pandas as pd

df = pd.read_csv('c:/csv/강남구전세루트데이터+맥날.csv', encoding='cp949')

In [46]:
df.groupby(['index','도로명주소'])['Distance_to_macn'].count()

index  도로명주소
0      서울특별시 강남구 논현로4길         13
1      서울특별시 강남구 논현로4길         13
2      서울특별시 강남구 논현로4길         13
3      서울특별시 강남구 논현로4길         13
4      서울특별시 강남구 논현로4길         13
                               ..
87356  서울특별시 강남구 역삼로 432       13
87357  서울특별시 강남구 압구정로 461      13
87358  서울특별시 강남구 도산대로 406      13
87359  서울특별시 강남구 논현로20길 12     13
87360  서울특별시 강남구 언주로 432-10    13
Name: Distance_to_macn, Length: 87361, dtype: int64

In [47]:
def count_macn(series):
    return (series<=0.4).sum()
    
  

df_groupby = df.groupby(['index','도로명주소'])['Distance_to_macn'].agg(count_macn)

In [48]:
df_groupby = pd.DataFrame(df_groupby)
df_groupby

                            Distance_to_macn
index 도로명주소
0     서울특별시 강남구 논현로4길                      0
1     서울특별시 강남구 논현로4길                      0
2     서울특별시 강남구 논현로4길                      0
3     서울특별시 강남구 논현로4길                      0
4     서울특별시 강남구 논현로4길                      0
...                                      ...
87356 서울특별시 강남구 역삼로 432                    0
87357 서울특별시 강남구 압구정로 461                   0
87358 서울특별시 강남구 도산대로 406                   1
87359 서울특별시 강남구 논현로20길 12                  0
87360 서울특별시 강남구 언주로 432-10                 1

[87361 rows x 1 columns]

In [49]:
df_groupby.reset_index(drop=False, inplace=True)

In [50]:
df_groupby

       index                 도로명주소  Distance_to_macn
0          0       서울특별시 강남구 논현로4길                 0
1          1       서울특별시 강남구 논현로4길                 0
2          2       서울특별시 강남구 논현로4길                 0
3          3       서울특별시 강남구 논현로4길                 0
4          4       서울특별시 강남구 논현로4길                 0
...      ...                   ...               ...
87356  87356     서울특별시 강남구 역삼로 432                 0
87357  87357    서울특별시 강남구 압구정로 461                 0
87358  87358    서울특별시 강남구 도산대로 406                 1
87359  87359   서울특별시 강남구 논현로20길 12                 0
87360  87360  서울특별시 강남구 언주로 432-10                 1

[87361 rows x 3 columns]

In [51]:
df_main = pd.read_csv('c:/csv/류민석/강남구전세루트데이터_수정.csv', encoding='utf-8')
df_main.head()

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725

In [52]:
(df_main['도로명주소']==df_groupby['도로명주소']).all()

True

In [53]:
df_main = pd.concat([df_main, df_groupby['Distance_to_macn']], axis=1)

In [54]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   시군구               87361 non-null  object
 1   전월세구분             87361 non-null  object
 2   보증금(만원)           87361 non-null  int64
 3   건축년도              87361 non-null  int64
 4   구분                87361 non-null  object
 5   전용면적(㎡)           87361 non-null  float64
 6   층                 87361 non-null  float64
 7   도로명주소             87361 non-null  object
 8   계약시작              25069 non-null  object
 9   계약종료              25069 non-null  object
 10  계약년월일             87361 non-null  object
 11  구                 87361 non-null  object
 12  건축나이              87361 non-null  int64
 13  Latitude          87361 non-null  float64
 14  Longitude         87361 non-null  float64
 15  Distance_to_macn  87361 non-null  int64
dtypes: float64(4), int64(4), object(8)
memory usage: 10.7+ MB

In [55]:
df_main['Distance_to_macn'].value_counts()

0    71483
1    15833
2       45
Name: Distance_to_macn, dtype: int64

In [56]:
df_main

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,Distance_to_macn
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0
1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725,0
2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0
3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,NaN,NaN,2019-07-22,강남구,19,37.501439,127.054330,0
87357,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,NaN,NaN,2019-06-21,강남구,18,37.525283,127.047239,0
87358,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,NaN,NaN,2019-07-20,강남구,9,37.522821,127.039963,1
87359,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,NaN,NaN,2020-09-08,강남구,3,37.478097,127.045854,0
87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,2020-11-25,강남구,20,37.502156,127.044070,1

In [58]:
df_main.to_csv('c:/csv/강남구전세루트데이터+맥날2.csv', index=False, encoding='cp949')